asn1crypto==1.4.0
astroid==1.6.6
backports.functools-lru-cache==1.6.1
beautifulsoup4==4.9.3
cairocffi==1.2.0
CairoSVG==2.5.2
cffi==1.14.5
colorama==0.4.3
configparser==4.0.2
cryptography==3.3.2
cssselect==0.9.1
cssselect2==0.4.1
defusedxml==0.7.0
Django==2.2.24
django-extensions==1.6.7
django-registration==2.0.4
django-taggit==0.18.2
enum34==1.1.5
gunicorn==20.0.4
html5lib==1.1
idna==2.1
ipaddress==1.0.16
isort==4.3.21
lazy-object-proxy==1.5.1
lxml==4.6.3
markdown2==2.4.0
mccabe==0.6.1
mysqlclient==2.0.3
Pillow==8.2.0
pycparser==2.14
Pyphen==0.10.0
pytz==2020.5
singledispatch==3.4.0.3
six==1.10.0
soupsieve==2.2
tinycss==0.3
tinycss2==1.1.0
WeasyPrint==52.3
webencodings==0.5.1
wrapt==1.12.1
