{% extends "base.html" %}
{% load i18n %}

{% block title %} {% trans 'Password change' %} {% endblock %}

{% block content %}

<h2>{% trans 'Password change' %}</h2>

<p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>

<form action="" method="post">
{% csrf_token %}
{{ form.old_password.errors }}

<table>{{ form }}</table>

<p><input type="submit" value="{% trans 'Change my password' %}" /></p>
</form>


{% endblock %}

{% block content-related %}

{% endblock %}