{% extends "base.html" %}

{% block content %}

<h2>Index</h2>
<p>
<ul>
<li><a href="#about">About</a>
<li><a href="#credits">Credits</a>
<li><a href="#acknowledgments">Acknowledgments</a>
<li><a href="#development">Development</a>
</ul>
</p>

<a id="about"><h2>About</h2></a>
<p>Mythras Encounter Generator is a tool for generating random NPC's and monsters for Mythras / RuneQuest 6.</p>
<p>One of the fundamental principles of the tool is, that the creation of the content - the NPC/monster 
specifications and templates - is created by the community. Anybody can create a new template, that
other users can later use to generate NPC's/monsters.</p>

<a id="credits"><h2>Credits</h2></a>
<ul>
<li>Many of the chaotic features as well as encounter random featuers have been taken from Peter Maranci's 
RuneQuest site at <a href="http://www.maranci.net/rq.htm">www.maranci.net/rq.htm</a>.</li>
<li>Gladiators and Spy missions by permission of Pete Nash, originally printed in <a href="http://www.speltidningen.se/fenix3-13.html">Fenix magazine</a></li>
<li>Sartar rumors are based on <a href="http://www.glorantha.com/product/sartar-companion/">Sartar Companion</a></li>
<li>Character, character complication, character looks, character oddity, motivation and social feature tables were started from The Covetous Poet's Adventure Creator and Solo GM Guidebook and are used with permission of <a href="http://covetouspoet.blogspot.fi/2013/09/about-book.html">Frank Lee</a></li>
<li>Appearance and Physical Expressions tables based on work developed by Darren Andrews. Used with permission.</li>
<li>Tavern Names, Room Quirks and many of the added "Activities at bar" inspired by "GM Mastery: Inns & Taverns Essentials" and used with permission of Johnn Four at RolePlayingTips - <a href="http://www.roleplayingtips.com/gm-books/">http://www.roleplayingtips.com/gm-books/</a></li>
<li>Activity at Port City, Major Activity at City and Activity at City inspired by "650 Fantasy City Encounter Seeds & Plots" and used with permission of Johnn Four at RoleplayingTips - <a href="http://www.roleplayingtips.com/blog/">http://www.roleplayingtips.com/blog/</a></li>
<li>Several plants are from or inspired by Rodin Greenbeak articles written by Eric Rowe used with permission of author.</li>
<li>Plant chaotic features inspired by article written by Eric Rowe used with permission of author.</li>
</ul>

The namelists have been taken from the following places:
<ul>
<li>African names: <a href="http://namesforafrica.wordpress.com">http://namesforafrica.wordpress.com</a></li>
<li>Arabic names: <a href="http://www.s-gabriel.org/names/juliana/alandalus/">http://www.s-gabriel.org/names/juliana/alandalus/</a></li>
<li>Byzantine names: <a href="http://heraldry.sca.org/names/byzantine/early_byz_names.html">http://heraldry.sca.org/names/byzantine/early_byz_names.html</a></li>
<li>Celt and Saxon names: <a href="http://www.thedesignmechanism.com/products.php#!/Mythic-Britain/p/43756111/category=5186110">Mythic Britain</a></li>
<li>Generic fantasy names: <a href="http://www.angelfire.com/tx/afira/fantasymfull.html">
http://www.angelfire.com/tx/afira/fantasymfull.html</a></li>
<li>Orlanthi names: 
<a href="http://webspace.webring.com/people/lo/oliverb/kodp/names.html">http://webspace.webring.com/people/lo/oliverb/kodp/names.html</a>,
<a href="http://groups.yahoo.com/neo/groups/HeroQuest-RPG/conversations/topics/10500">http://groups.yahoo.com/neo/groups/HeroQuest-RPG/conversations/topics/10500</a></li>
<li>Monster Island names: <a href="http://www.thedesignmechanism.com/products.php#!/~/product/category=5186110&id=25252033">Monster Island</a> (pages 48 and 56).</li>
<li>Dara Happan, Balazaring, Pelorian and Carmanian names created by Jon Hunter at <a href="http://www.backtobalazar.com">http://www.backtobalazar.com</a> and used with permission</li>
<li>Old West names generated at <a href="http://www.mithrilandmages.com/utilities/Western.php">http://www.mithrilandmages.com/utilities/Western.php</a>.
</ul>

<a><h2>Other source material</h2></a>
<ul>
<li>Anaxial Annex - Source for Pamaltelan creatures: <a href="http://www.ttrotsky.pwp.blueyonder.co.uk/annex/">http://www.ttrotsky.pwp.blueyonder.co.uk/annex/</a></li>
<li>Gloranthan Cult Onepagers: <a href="http://notesfrompavis.wordpress.com/2014/05/11/gloranthan-cult-onepagers-main-page/">http://notesfrompavis.wordpress.com/2014/05/11/gloranthan-cult-onepagers-main-page/</a></li>
<li>Mythras Encounter Content news: <a href="https://notesfrompavis.blog/category/mythras-encounter-generator/">http://notesfrompavis.wordpress.com/category/rq-encounter-generator/</a></li>
</ul>

<a id="acknowledgments"><h2>Acknowledgments</h2></a>
<p>This tool would be just a bag of bones with no flesh without two dedicated members of the Mythras/RQ6 community.
Special thanks goes to hkokko and Pruneau.</p>

<p>"Mythras" is a Registered Trademark of The Design Mechanism Inc, and is used with permission.</p>

<p>This generator uses trademarks and/or copyrights owned by Chaosium Inc/Moon Design Publications LLC, which are used
under Chaosium Inc's Fan Material Policy. We are expressly prohibited from charging you to use or access this content. This
generator is not published, endorsed, or specifically approved by Chaosium Inc. For more information about Chaosium Inc's products,
please visit www.chaosium.com.</p>

<a id="development"><h2>Development</h2></a>
<p>Mythras Encounter Generator has been developed on Python + Django. Additional modules used include:
<ul>
<li>jQuery</li>
<li>django-taggit</li>
<li>Python Markdown</li>
<li>Weasyprint</li>
</ul>
</p>

<p>The source repository is in 
<a href="https://github.com/skoll69/RQ6-Enemy-Generator">GitHub</a>.</p>
</p>
<p>If you have an idea for a new feature or encounter a bug, send me an email at
<a href="mailto:erkki.lepre@iki.fi">erkki.lepre@iki.fi</a></p>



{% endblock %}
