{% extends "base.html" %}
{% load static %}

{% block content %}
<script>
    $(document).ready(function () {
        var cly = completely(document.getElementById('et_newtag'), {
            fontSize: '12px',
            fontFamily: 'Arial',
            color: 'black',
        });
        cly.input.style.border = '1px solid #ABADB3';
        cly.input.style.width = '200px';
        cly.wrapper.style.width = '200px';
        cly.input.style.padding = '1px';
        cly.options = ['yksi', 'kaksi'];
        cly.onEnter = function () {
            var filter_text = cly.getText();
            var filter_name = $('filter_name').val();
            add_filter(filter_name, filter_text);
            $('#tag_container').append('<div class="tag">' + new_value + '         \
        <img class="del_tag" src="{% static 'images/del_tag.png' %}" \
                et_id="{{ et.id }}" value="'+ new_value + '"                           \
                onmouseover="this.src=\'/static/images/del_tag_hover.png\'"      \
                onmouseout="this.src=\'/static/images/del_tag.png\'"             \
                onmouseup="this.src=\'/static/images/del_tag.png\'"              \
                onmousedown="this.src=\'/static/images/del_tag_active.png\'" />  \
              </div>');
            $('.del_tag').click(function (event) {
                deltag(event);
            })
            cly.setText('');
        };
        cly.onChange = function () {
            if (cly.getText() != '') {
                cly.repaint();
            } else {
                cly.hideDropDown();
            }
        }

    });
</script>

<h2>My account</h2>

<h3>My filters</h3>
<h4>My current filters</h4>
{% for f in filters %}
{{ f }}
{% endfor %}

<div id="tag_container">
    {% for tag in et.get_tags %}
    <div class="tag">{{ tag }}
        <img class="del_tag" src="{% static 'images/del_tag.png' %}" et_id="{{ et.id }}" value="{{ tag.name }}"
            onmouseover="this.src='{% static 'images/del_tag_hover.png' %}'" onmouseout="this.src='{% static 'images/del_tag.png' %}'"
            onmouseup="this.src='{% static 'images/del_tag.png' %}'" onmousedown="this.src='{% static 'images/del_tag_active.png' %}'" />
    </div>
    {% endfor %}
</div>

<h4>Add new filter</h4>
Filter name: <input id="filter_name" type="text" /><br>
Filter:
<div d="new_tag_container">
    <div id="et_newtag" class="data" type="text" item_id="{{ et.id }}" item_type="new_filter"></div>
</div>



<h3>Change your password</h3>

<button type="button" onclick="window.location = '{% url 'password_change' %}'">Change password</button>



{% endblock %}
