{% load static %}
<!DOCTYPE HTML>
<html>
<head>
    <title>{% block title %}Mythras Encounter Generator{% endblock %}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.js"></script>
    <script src="{% static 'js/complete.ly.1.0.1.js' %}?v=1"></script>
    {% if 'template' not in request.path %}
      <script src="{% static 'js/tquery/core.js' %}?v=1"></script>
    {% endif %}
    <script src="{% static 'js/helpers.js' %}?v=1"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="{% static 'js/enemygen.js' %}?v=14"></script>

    <link rel="stylesheet" href="{% static 'base.css' %}?v=7" />
    <link rel="stylesheet" href="{% static 'print.css' %}" media="print" />

    <link rel="icon" href="{% static 'favicon.ico' %}">
</head>
<body><div id="main_container">

<div id="header">
    <a href="http://www.thedesignmechanism.com/" target=_new>
    <img src="{% static 'images/mythras.png' %}" /></a>
    <span style="position: relative; top: -33px;">Encounter Generator</span>
</div>

{% include 'menu.html' %}

<div id="main_content">
    {% block content %}{% endblock %}
</div>

<div id="footer">{% if generated %}{{ generated }} foes generated | {% endif %}<a id="email" href="mailto:erkki.lepre@iki.fi">erkki.lepre@iki.fi</a></div>

</div>
<script type="text/javascript">
    {% if user.username %}
        window.authenticated = true;
    {% else %}
        window.authenticated = false;
    {% endif %}
    var sc_project=9684333;
    var sc_invisible=1; 
    var sc_security="37dde490"; 
    var scJsHost = (("https:" == document.location.protocol) ? "https://secure." : "http://www.");
    document.write("<sc"+"ript type='text/javascript' src='" + scJsHost+ "statcounter.com/counter/counter.js'></"+"script>");
</script>
<noscript><div class="statcounter"><a title="free web stats"
href="http://statcounter.com/" target="_blank"><img
class="statcounter"
src="http://c.statcounter.com/9684333/0/37dde490/1/"
alt="free web stats"></a></div></noscript>
</body>
</html>
