{% load url from future %}
{% load dajaxice_templatetags %}

<!DOCTYPE HTML>
<html>
<head>
    <title>{% block title %}RQ Encounter Generator{% endblock %}</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.js"></script>
    <script src="/rq_static/js/enemygen.js"></script>
    <script src="/rq_static/js/complete.ly.1.0.1.js"></script>
    <script src="/rq_static/js/tquery/core.js"></script>
    <link rel="stylesheet" type="text/css" href="/rq_static/base.css">
    <link rel="stylesheet" type="text/css" href="/rq_static/print.css" media="print">
    {% dajaxice_js_import %}
</head>

<body><div id="main_container">

<div id="header">
RQ Encounter Generator
<a href="http://www.thedesignmechanism.com/" target=_new>
    <img id="rq_gateway" height="95" src="/rq_static/images/RQ_Gateway.png" />
</a>

</div>

{% include 'menu.html' %}

<div id="ruleset_setting">
    Setting: 
    <form action="{% url 'select_setting_ruleset' %}" method="post" style="display: inline-block;">
    <input type="hidden" name="coming_from" value="{{request.path}}">
    {% csrf_token %}
    <select name="setting_id" onchange="this.form.submit()">
            <option value="0" {% if setting_id = 0%}selected="selected"{% endif %}>All</option>
        {% for sett in settings %}
            <option value="{{ sett.id }}" {% if sett.id = setting_id %}selected="selected"{% endif %}>{{ sett.name }}</option>
        {% endfor %}
    </select>
    </form>
</div>

<div id="main_content">
    {% block content %}{% endblock %}
</div>

<div id="footer">{% if generated %}{{ generated }} foes generated | {% endif %}<a id="email" href="mailto:erkki.lepre@iki.fi">erkki.lepre@iki.fi</a></div>

</div></body>
</html>