{% extends "base.html" %}

{% block content %}

{% if party %}
    <h4>Confirm delete party</h4>
    <p>Are you sure you want to delete the party {{ party.name }} (id: {{ party.id }})?</p>
    <form action="{% url 'delete_party' party.id %}" method="post">
    {% csrf_token %}
    <p>
        <input type="submit" name="answer" class="my_button" value="Yes">
        <input type="submit" name="answer" class="my_button" value="No">
    </p>
    </form>
{% else %}
    <h4>Invalid party</h4>
    <p>The party you are trying to delete either doesn't exist, or you don't have rights to delete it.</p>
{% endif %}

{% endblock %}