{% extends "base.html" %}
{% load url from future %}

{% block content %}

<p>
This website uses trademarks and/or copyrights owned by Moon Design Publications LLC, which are used under 
Moon Design Publications's Fan Material Policy. We are expressly prohibited from charging you to use or 
access this content. This website is not published, endorsed, or specifically approved by Moon Design 
Publishing. For more information about Moon Design Publications and Moon Design Publications products,
please visit <a href="http://www.glorantha.com">glorantha.com</a>.
</p>

<p>
RUNEQUEST is a trademark of Moon Design Publications LLC and The Design Mechanism in the USA
and other countries and is used with permission of The Design Mechanism.
</p>

{% endblock %}
