{% extends "base.html" %}
{% load url from future %}

{% block content %}

<table><tr><td valign="top">
{% if enemy_templates %}
    <h3>Enemy Templates</h3>
    <table>
    <tr><th>Template name</th><th>Rank</th><th>Published</th></tr>
    {% for et in enemy_templates %}
        <tr>
            <td><a class="edit_item" href="{% url 'enemy_template' et.id %}">{{ et }}</a></td>
            <td>
                {% if et.rank = 1 %}Rubble{% endif %}
                {% if et.rank = 2 %}Novice{% endif %}
                {% if et.rank = 3 %}Skilled{% endif %}
                {% if et.rank = 4 %}Veteran{% endif %}
                {% if et.rank = 5 %}Master{% endif %}
            </td>
            <td>{% if et.published %}Yes{% else %}No{% endif %}</td>
        </tr>
    {% endfor %}
    </table>
{% endif %}
</td><td width="20">
</td><td valign="top">
{% if races %}
    <h3>Races</h3>
    <table>
    {% for race in edit_races %}
        <tr>
            <td><a class="edit_item" href="{% url 'race' race.id %}">{{ race.name }}</a></td>
        </tr>
    {% endfor %}
    </table>
{% endif %}
</td></tr></table>
<br>

<h3>Create new template</h3>
<p>Start creating a new template by selecting race.</p>
<form action="{% url 'create_enemy_template'%}" method="post">
{% csrf_token %}
<select name="race_id">
<option value="0">Select race</option>
{% for race in races %}
    <option value="{{ race.id }}">{{ race.name }}</option>
{% endfor %}
</select>
<p><input type="submit" value="Create new template"></p>
</form>

{% if race_admin %}
<h3>Create new race</h3>
<form action="{% url 'create_race'%}" method="post">
{% csrf_token %}
<p><input type="submit" value="Create new race"></p>
</form>
{% endif %}

{% endblock %}