{% extends "base.html" %}
{% load url from future %}

{% block content %}
<h3>Enemy details</h3>
<table><tr>
    <th>Template name</th>
    <td><input id="et_{{ et.id }}" class="data" type="text" size="40" item_id="{{ et.id }}" item_type="et_name" value="{{ et.name }}" /></td>
</tr><tr>
    <th>Rank</th>
    <td>
        <select id="et_rank_{{ et.id }}" class="data" item_id="{{ et.id }}" item_type="et_rank">
            <option value="1" {% if et.rank == 1 %}selected="selected"{% endif %}>Rabble</option>
            <option value="2" {% if et.rank == 2 %}selected="selected"{% endif %}>Novice</option>
            <option value="3" {% if et.rank == 3 %}selected="selected"{% endif %}>Skilled</option>
            <option value="4" {% if et.rank == 4 %}selected="selected"{% endif %}>Veteran</option>
            <option value="5" {% if et.rank == 5 %}selected="selected"{% endif %}>Master</option>
        </select>
    </td>
</tr><tr>
    <th>Setting</th>
    <td>
        <select id="et_setting_{{ et.id }}" class="data" item_id="{{ et.id }}" item_type="et_setting">
            <option value="1" {% if et.setting.id == 1 %}selected="selected"{% endif %}>Glorantha</option>
            <option value="2" {% if et.setting.id == 2 %}selected="selected"{% endif %}>Generic fantasy</option>
        </select>
    </td>
</tr><tr>
    <th>Race</th>
    <td><a class="edit_item" href="{% url 'race' et.race.id %}">{{ et.race.name }}</a></td>
</tr><tr>
    <th>Published</th>
    <td><input id="et_pub_{{ et.id }}" class="data" type="checkbox" item_id="{{ et.id }}" item_type="et_published" {% if et.published %}checked="checked"{% endif %} /></td>
</tr><tr>
    <th>Notes</th>
    <td><textarea id="et_notes_{{ et.id }}" class="data" cols="60" rows="3" item_id="{{ et.id }}" item_type="et_notes">{{ et.notes }}</textarea></td>
</tr></table>

<form action="{% url 'delete_template' et.id %}" method="post">
{% csrf_token %}
<div id="delete_template"><input type="submit" value="Delete template" /></div>
</form>

<div id="clone_template_container">
<form action="{% url 'clone_template' et.id %}" method="post">
{% csrf_token %}
<input id="clone_template" type="submit" value="Clone" />
</form>
</div>

<table id="stats_and_hp"><tr><td valign="top">
<table>
<tr><th colspan="2">Stats</th></tr>
{% for stat in et.stats %}
    <tr>
        <td>{{ stat.name }}</td>
        <td>
            <input id="stat_{{stat.id}}" class="data" type="text" size="8" item_id="{{stat.id}}" item_type="et_stat_value" value="{{ stat.die_set }}" />
        </td>
    </tr>
{% endfor %}
</table>
{% if et.hit_locations %}
</td><td valign="top">
<table>
<tr><th>D20</th><th>Hit location</th><th>Armor</th></tr>
{% for hl in et.hit_locations %}
    <tr>
        <td>{{ hl.range }}</td>
        <td>{{ hl.name }}</td>
        <td>
            <input id="hl_{{hl.id}}" class="data" type="text" size="10" item_id="{{hl.id}}" item_type="et_hl_armor" value="{{ hl.armor }}" />
        </td>
    </tr>
{% endfor %}
</table>
{% endif %}
</td><td valign="top">
<table>
<tr><th colspan="2">Attributes</th></tr>
<tr>
    <td>Movement</td>
    <td><input id="movement_{{spell.id}}" class="data number" size="5" type="number" min="0" max="30" item_id="{{et.id}}" item_type="et_movement" value="{{ et.movement }}" /></td>
</tr>
</table>
</td></tr></table>

{% include 'enemy_template_skills.html' %}

{% include 'enemy_template_weapons.html' %}

{% include 'enemy_template_spells.html' %}

{% endblock %}
