{% extends "base.html" %}
{% load url from future %}

{% block content %}
<h3>{{ et.name }}</h3>
<table><tr>
    <th>Rank</th>
    <td>
        {% if et.rank == 1 %}Rubble{% endif %}
        {% if et.rank == 2 %}Novice{% endif %}
        {% if et.rank == 3 %}Skilled{% endif %}
        {% if et.rank == 4 %}Veteran{% endif %}
        {% if et.rank == 5 %}Master{% endif %}
    </td>
</tr><tr>
    <th>Setting</th>
    <td>
        {% if et.setting.id == 1 %}Glorantha{% endif %}
        {% if et.setting.id == 2 %}Generic fantasy{% endif %}
    </td>
</tr><tr>
    <th>Creator</th><td>{{ et.owner.username }}</td>
</tr></table>

<table id="stats_and_hp"><tr><td valign="top">
<table>
<tr><th colspan="2">Stats</th></tr>
{% for stat in et.stats %}
    <tr>
        <td>{{ stat.name }}</td>
        <td>{{ stat.die_set }}</td>
    </tr>
{% endfor %}
</table>
</td><td valign="top">
<table>
<tr><th>D20</th><th>Hit location</th><th>Armor</th></tr>
{% for hl in et.hit_locations %}
    <tr>
        <td>{{ hl.range }}</td>
        <td>{{ hl.name }}</td>
        <td>{{ hl.armor }}</td>
    </tr>
{% endfor %}
</table>
</td></tr></table>

<h3>Standard skills</h3>
<table class="read_only"><tr>
{% for skill in et.included_standard_skills %}
    <th>{{ skill.name }}</th>
    <td>{{ skill.die_set }}</td>
    {% if forloop.counter|divisibleby:"3" %}</tr><tr>{% endif %}
{% endfor %}
</tr></table>

{% if et.included_professional_skills %}
<h3>Professional skills</h3>
<table class="read_only"><tr>
{% for skill in et.included_professional_skills %}
    <th>{{ skill.name }}</th>
    <td>{{ skill.die_set }}</td>
    {% if forloop.counter|divisibleby:"3" %}</tr><tr>{% endif %}
{% endfor %}
</tr></table>
{% endif %}

<h3>Combat styles</h3>
<table class="read_only"><tr>
{% for cs in et.combat_styles %}
<tr><th>{{ cs.name }}</th><td>{{ cs.die_set }}</td>
</table>

<h3>Weapon options</h3>
<table><tr><td valign="top">
<h4>1-handed weapons</h4>
<b>Amount: {{cs.one_h_amount}}</b>
<table>
    {% for weapon in cs.one_h_options %}
    <tr><td>{{ weapon.name }} ({{weapon.probability}})</td></tr>
    {% endfor %}
</table>
</td>

<td valign="top">
<h4>2-handed weapons</h4>
<b>Amount: {{cs.two_h_amount}}</b>
<table>
    {% for weapon in cs.two_h_options %}
    <tr><td>{{ weapon.name }} ({{weapon.probability}})</td></tr>
    {% endfor %}
</table>
</td>

<td valign="top">
<h4>Ranged weapons</h4>
<b>Amount: {{cs.ranged_amount}}</b>
<table>
    {% for weapon in cs.ranged_options %}
    <tr><td>{{ weapon.name }} ({{weapon.probability}})</td></tr>
    {% endfor %}
</table>
</td>

<td valign="top">
<h4>Shields</h4>
<b>Amount: {{cs.shield_amount}}</b>
<table>
    {% for weapon in cs.shield_options %}
    <tr><td>{{ weapon.name }} ({{weapon.probability}})</td></tr>
    {% endfor %}
</table>
{% endfor %}
<br>
</td></tr></table>

{% if et.folk_spell_amount %}
<h3>Folk spells</h3>
Amount: {{ et.folk_spell_amount }}
<table><tr>
<tr><th>Spell</th><th>Prob.&nbsp;&nbsp;&nbsp;</th><th>Spell</th><th>Prob.&nbsp;&nbsp;&nbsp;</th><th>Spell</th><th>Prob.&nbsp;&nbsp;&nbsp;</th><th>Spell</th><th>Prob.&nbsp;&nbsp;&nbsp;</th></tr>
{% for spell in et.folk_spells %}
    <td>{{ spell.name }} {{ spell.detail_text }}</td>
    <td>{{ spell.probability }}</td>
    {% if not forloop.first and forloop.counter|divisibleby:"4" %}</tr><tr>{% endif %}
{% endfor %}
</tr></table>
{% endif %}

<h3>Theism spells</h3>
Amount: {{ et.theism_spell_amount }}
{% if et.theism_spells %}
<table>
<tr><th>Spell</th><th>Prob.&nbsp;&nbsp;&nbsp;</th><th>Spell</th><th>Prob.&nbsp;&nbsp;&nbsp;</th><th>Spell</th><th>Prob.&nbsp;&nbsp;&nbsp;</th><th>Spell</th><th>Prob.&nbsp;&nbsp;&nbsp;</th></tr>
<tr>
{% for spell in et.theism_spells %}
    <td>{{ spell.name }} {{ spell.detail_text }}</td>
    <td>{{ spell.probability }}</td>
    {% if not forloop.first and forloop.counter|divisibleby:"4" %}</tr><tr>{% endif %}
{% endfor %}
</tr></table>
{% endif %}

<h3>Sorcery spells</h3>
Amount: {{ et.sorcery_spell_amount }}
{% if et.sorcery_spells %}
<table>
<tr><th>Spell</th><th>Prob.&nbsp;&nbsp;&nbsp;</th><th>Spell</th><th>Prob.&nbsp;&nbsp;&nbsp;</th><th>Spell</th><th>Prob.</th></tr>
<tr>
{% for spell in et.sorcery_spells %}
    <td>{{ spell.name }} {{ spell.detail_text }}</td>
    <td>{{ spell.probability }}</td>
    {% if not forloop.first and forloop.counter|divisibleby:"3" %}</tr><tr>{% endif %}
{% endfor %}
</tr></table>
{% endif %}

{% endblock %}
