{% extends "base.html" %}
{% load static %}

{% block title %}RQ: {{ et.name }}{% endblock %}

{% block content %}

<script>
$(document).ready(function(){
    document.getElementById('tag_container').addEventListener('keypress', function(event) {
        if (event.keyCode == 13) { event.preventDefault(); }
    })
    var cly = completely(document.getElementById('et_newtag'), {
        fontSize: '12px',
    	 fontFamily : 'Arial',
        color: 'black',
    });
    cly.input.style.border= '1px solid #ABADB3';
    cly.input.style.width= '200px';
    cly.wrapper.style.width= '200px';
    cly.input.style.padding='1px';
    cly.options = [{% for t in all_et_tags %}'{{t}}',{% endfor %}];
    cly.onEnter = function(){
        var new_value = cly.getText();
        var item_id = {{ et.id }};
        var item_type = 'et_newtag';
        var input_object = null;
        submit(item_id, item_type, input_object, new_value);
        var tags = new_value.split(',');
        for (i in tags){
            var tag = tags[i].trim();
            $('#tag_container').append('<div class="tag">'+tag+'         \
            <img class="del_tag" src="{% static 'images/del_tag.png' %}" \
                    et_id="{{ et.id }}" value="'+tag+'"                           \
                    onmouseover="this.src=\'{% static 'images/del_tag_hover.png' %}\'"      \
                    onmouseout="this.src=\'{% static 'images/del_tag.png' %}\'"             \
                    onmouseup="this.src=\'{% static 'images/del_tag.png' %}\'"              \
                    onmousedown="this.src=\'{% static 'images/del_tag_active.png' %}\'" />  \
                  </div>');
            $('.del_tag').click(function(event){
                deltag(event);
            })
        }
        cly.setText('');
    };
    cly.onChange = function(){
        text = capitalize(cly.getText())
        cly.setText(text)
        if (text != ''){
            cly.repaint();
        } else {
            cly.hideDropDown();
        }
    }
    
    // namelist
    $('#et_namelist').change(function(event){
        $('#namelist_link').remove();
        var namelist_id = parseInt($(event.target).val())
        if (namelist_id > 0){
            console.log(namelist_id);
            $('#namelist_cell').append('<a id="namelist_link" href="/feature_items/'+ namelist_id +'/" target=_blank>View names</a>')
        }
    })
  $('#txtHint').focus(function(){  // For some reason IE takes focus to the hint input instead of the text input
    $('#txtInput').focus();
  });
  
  $('#toggle_pro_skills').click(function(event){
    $('#professional_skills_table').toggle();
  });

  $('#folk_spells_header').click(function(event){
    $('#folk_spells_container_inner').toggle();
  });

  $('#theism_spells_header').click(function(event){
    $('#theism_spells_container_inner').toggle();
  });

  $('#sorcery_spells_header').click(function(event){
    $('#sorcery_spells_container_inner').toggle();
  });

  $('#mysticism_spells_header').click(function(event){
    $('#mysticism_spells_container_inner').toggle();
  });

  $('#spirits_header').click(function(event){
    $('#spirits_container_inner').toggle();
  });
});
</script>

<div> <!-- Buttons -->
    <form action="{% url 'delete_template' et.id %}" method="post">
    {% csrf_token %}
    <div id="delete_template"><input type="submit" value="Delete template" /></div>
    </form>

    <div id="clone_template_container">
    <form action="{% url 'clone_template' et.id %}" method="post">
    {% csrf_token %}
    <input id="clone_template" type="submit" value="Clone" />
    </form>
    </div>

    <div id="generate_enemy_container">
    <form action="{% url 'generate_enemies' %}" method="post" target="generated">
    {% csrf_token %}
    <input name="enemy_template_id_{{et.id}}" type="hidden" value="6">
    <input style="width: 140px;" type="submit" value="Generate" />
    </form>
    </div>
</div>

<h3 style="display: inline;">
    Enemy details
    {% if et.starred %}
        <img et_id={{ et.id }} class="star" height="22" width="22" src="{% static 'images/star_filled.png' %}" />
    {% else %}
        <img et_id={{ et.id }} class="star" height="22" width="22" src="{% static 'images/star_empty.png' %}" />
    {% endif %}
</h3>
<span class="generated_amount">(Generated {{ et.generated }} times)</span>

<table><tr>
    <th>Template name</th>
    <td><input id="et_{{ et.id }}" class="data" type="text" size="40" item_id="{{ et.id }}" item_type="et_name" value="{{ et.name }}" /></td>
</tr><tr>
    <th>Random name list</th>
    <td id="namelist_cell">
        <select id="et_namelist" class="data" item_id="{{ et.id }}" item_type="et_namelist">
            <option value="0" {% if et.namelist == 0 %}selected="selected"{% endif %}>None</option>
            {% for namelist in namelists %}
                <option value="{{namelist.id}}" {% if et.namelist.id == namelist.id %}selected="selected"{% endif %}>{{namelist.name}}</option>
            {% endfor %}
        </select>
        {% if et.namelist %}<a id="namelist_link" href="{% url 'feature_items' et.namelist.id %}" target=_blank>View names</a>{% endif %}
    </td>
</tr><tr>
    <th>Tags</th>
    <td><div id="tag_container">
        {% for tag in et.get_tags %}
            <div class="tag">{{ tag }}
            <img class="del_tag" src="{% static 'images/del_tag.png' %}"
                 et_id="{{ et.id }}" value="{{ tag }}"
                 onmouseover="this.src='{% static 'images/del_tag_hover.png' %}'"
                 onmouseout="this.src='{% static 'images/del_tag.png' %}'"
                 onmouseup="this.src='{% static 'images/del_tag.png' %}'"
                 onmousedown="this.src='{% static 'images/del_tag_active.png' %}'" />
            </div>
        {% endfor %}
        </div>
        <div id="et_newtag" class="data" type="text" item_id="{{ et.id }}" item_type="et_newtag" style="height: 18px;"></div>
    </td>
</tr><tr>
    <th>Rank</th>
    <td>
        <select id="et_rank_{{ et.id }}" class="data" item_id="{{ et.id }}" item_type="et_rank">
            <option value="1" {% if et.rank == 1 %}selected="selected"{% endif %}>Rabble</option>
            <option value="2" {% if et.rank == 2 %}selected="selected"{% endif %}>Novice</option>
            <option value="3" {% if et.rank == 3 %}selected="selected"{% endif %}>Skilled</option>
            <option value="4" {% if et.rank == 4 %}selected="selected"{% endif %}>Veteran</option>
            <option value="5" {% if et.rank == 5 %}selected="selected"{% endif %}>Master</option>
        </select>
    </td>
</tr><tr>
    <th>Race</th>
    <td><a class="edit_item" href="{% url 'race' et.race.id %}">{{ et.race.name }}</a></td>
</tr><tr>
    <th>Cult Rank</th>
    <td>
        <select id="et_cult_rank_{{ et.id }}" class="data" item_id="{{ et.id }}" item_type="et_cult_rank">
            {% if et.is_theist %}
                <option value="0" {% if et.cult_rank == 0 %}selected="selected"{% endif %}>None</option>
                <option value="1" {% if et.cult_rank == 1 %}selected="selected"{% endif %}>Lay Member</option>
                <option value="2" {% if et.cult_rank == 2 %}selected="selected"{% endif %}>Initiate</option>
                <option value="3" {% if et.cult_rank == 3 %}selected="selected"{% endif %}>Acolyte</option>
                <option value="4" {% if et.cult_rank == 4 %}selected="selected"{% endif %}>Priest</option>
                <option value="5" {% if et.cult_rank == 5 %}selected="selected"{% endif %}>High Priest</option>
            {% else %}
                <option value="0" {% if et.cult_rank == 0 %}selected="selected"{% endif %}>None</option>
                <option value="1" {% if et.cult_rank == 1 %}selected="selected"{% endif %}>Common</option>
                <option value="2" {% if et.cult_rank == 2 %}selected="selected"{% endif %}>Dedicated</option>
                <option value="3" {% if et.cult_rank == 3 %}selected="selected"{% endif %}>Proven</option>
                <option value="4" {% if et.cult_rank == 4 %}selected="selected"{% endif %}>Overseer</option>
                <option value="5" {% if et.cult_rank == 5 %}selected="selected"{% endif %}>Leader</option>
            {% endif %}
        </select>
    </td>
</tr><tr>
    <th>Published</th>
    <td><input id="et_pub_{{ et.id }}" class="data" type="checkbox" item_id="{{ et.id }}" item_type="et_published" {% if et.published %}checked="checked"{% endif %} /></td>
</tr><tr>
    <th>Notes</th>
    <td><textarea id="et_notes_{{ et.id }}" class="data" cols="60" rows="3" item_id="{{ et.id }}" item_type="et_notes">{{ et.notes }}</textarea></td>
</tr></table>

<table id="stats_and_hp"><tr><td valign="top">
<table>
<tr><th colspan="2">Stats</th></tr>
{% for stat in et.stats %}
    <tr>
        <td>{{ stat.name }}</td>
        <td>
            <input id="stat_{{stat.id}}" class="data" type="text" size="8" item_id="{{stat.id}}" item_type="et_stat_value" value="{{ stat.die_set }}" />
        </td>
    </tr>
{% endfor %}
</table>
{% if et.hit_locations %}
</td><td valign="top">
<table>
<tr><th>D20</th><th>Hit location</th><th>Armor</th></tr>
{% for hl in et.hit_locations %}
    <tr>
        <td>{{ hl.range|safe }}</td>
        <td>{{ hl.name }}</td>
        <td>
            <input id="hl_{{hl.id}}" class="data" type="text" size="10" item_id="{{hl.id}}" item_type="et_hl_armor" value="{{ hl.armor }}" />
        </td>
    </tr>
{% endfor %}
</table>
{% endif %}
</td><td valign="top">
<table>
<tr><th colspan="2">Attributes</th></tr>
<tr>
    <td>Movement</td>
    <td><input id="movement_{{et.id}}" class="data" type="text" size="8" item_id="{{et.id}}" item_type="et_movement" value="{{ et.movement }}" /></td>
</tr>
<tr>
    <td>Natural armor</td>
    <td><input id="et_natural_{{ et.id }}" class="data" type="checkbox" item_id="{{ et.id }}" item_type="et_natural_armor" {% if et.natural_armor %}checked="checked"{% endif %} /></td>
</tr>
</table>
</td></tr></table>

{% include 'enemy_template_cults.html' %}

<div> <!-- Additional Features -->
    <h3>Additional features</h3>
    {% if et.additional_features %}
        <table>
<tr><th>Feature</th><th>Probability</th><th></th><th></th></tr>
{% for f in et.additional_features %}
    <tr>
        <td>{{ f.name }}</td>
        <td><input id="et_feature_{{f.id}}" class="data" type="text" size="30" item_id="{{f.id}}" item_type="et_feature_prob" value="{{ f.probability }}" />%</td>
        <td><img src="{% static 'minus.png' %}" width="23" height="23" class="del_item" item_id="{{ f.id }}" item_type="et_additional_feature" /></td>
        <td><a href="{% url 'feature_items' f.feature_list.id %}">View items</a></td>
    </tr>
{% endfor %}
        </table>
    {% endif %}
    <select id="additional_feature_options">
            <option value="0">Select feature</option>
        {% for feature_list in additional_feature_lists %}
            <option value="{{ feature_list.id }}">{{ feature_list.name }}</option>
        {% endfor %}
    </select>
    <button class="add_additional_feature" object_type="et" parent_id="{{ et.id }}">Add</button>
</div>

<div> <!-- Non-random features -->
    <h3>Non-random features</h3>
    {% if et.nonrandom_features %}
        <table>
            <tr><th>List</th><th>Feature</th><th></th></tr>
        {% for feature in et.nonrandom_features %}
            <tr>
                <td>{{ feature.feature.feature_list.name }}</td>
                <td>{{ feature.feature.name }}</td>
                <td><img src="{% static 'minus.png' %}" width="23" height="23" class="del_item" item_id="{{ feature.id }}" item_type="et_nonrandom_feature" /></td>
            </tr>
        {% endfor %}
        </table>
    {% endif %}
    <select id="nonrandom_feature_list_options" size="4" style="width: 220px">
        {% for feature_list in additional_feature_lists %}
            <option value="{{ feature_list.id }}">{{ feature_list.name }}</option>
        {% endfor %}
    </select>
    <select id="nonrandom_feature_options" size="4" style="width: 550px">
        <option>&lt;Select feature list first&gt;</option>
    </select>
    <button id="add_nonrandom_feature" et_id="{{ et.id }}">Add</button>
</div>

{% include 'enemy_template_skills.html' %}

{% if not et.is_spirit %}
    {% include 'enemy_template_weapons.html' %}
{% endif %}

{% include 'enemy_template_spells.html' %}

{% endblock %}
