<div id="cults_container">
<h3>Cults</h3>
Amount: 
<input id="et_cults_{{ et.id }}" class="data" size="6" type="text" item_id="{{ et.id }}" item_type="et_cult_amount" value="{{ et.cult_amount }}" /><br>
<table>
<tr><th>Cult</th><th>Prob.</th><th></th></tr>
{% for cult in et.cults %}
<tr>
    <td><a href="{% url 'enemy_template' cult.cult.id %}">{{ cult.name }}</a></td>
    <td><input id="cult_{{cult.id}}" class="data number" type="number" min="0" max="9999" item_id="{{cult.id}}" parent_id="{{et.id}}" item_type="et_cult_prob" value="{{ cult.probability }}" /></td>
    <td><img src="{% static 'minus.png' %}" width="16" height="16" class="del_item" item_id="{{ cult.id }}" item_type="et_cult" /></td>
</tr>
{% endfor %}

</table>
<select multiple id="cult_options" name="cult_options" size="4">
    {% for cult in cult_options %}
        <option value="{{ cult.id }}">{{ cult.name }}</option>
    {% endfor %}
</select>
<button id="add_cult" et_id="{{ et.id }}">Add cult(s)</button>
</div>
