{% extends "base.html" %}
{% load static %}

{% block title %}RQ: {{ et.name }}{% endblock %}

{% block content %}

{% if user.username %}
<div id="clone_template_container">
<form action="{% url 'clone_template' et.id %}" method="post">
{% csrf_token %}
<input id="clone_template" type="submit" value="Clone" />
</form>
</div>
{% endif %}

<div id="generate_enemy_container">
<form action="{% url 'generate_enemies' %}" method="post" target="generated">
{% csrf_token %}
<input name="enemy_template_id_{{et.id}}" type="hidden" value="6">
<input style="width: 140px;" type="submit" value="Generate" />
</form>
</div>

<h3 style="display: inline;">
    {{ et.name }}
    {% if et.starred %}
        <img et_id={{ et.id }} class="star" height="22" width="22" src="{% static 'images/star_filled.png' %}" />
    {% else %}
        <img et_id={{ et.id }} class="star" height="22" width="22" src="{% static 'images/star_empty.png' %}" {% if not user.is_authenticated %}title="Log in to Star favorites"{% endif %} />
    {% endif %}
</h3>
<span class="generated_amount">(Generated {{ et.generated }} times)</span>

<table><tr>
    <th>Namelist</th>
    <td>{% if et.namelist %}{{ et.namelist.name }} (<a href="{% url 'feature_items' et.namelist.id %}">View names</a>){% else %}None{% endif %}</td>
</tr><tr>
    <th>Tags</th>
    <td><div id="tag_container">
        {% for tag in et.get_tags %}<div class="tag">{{ tag }}</div>{% endfor %}
        </div>
    </td>
</tr><tr>
    <th>Rank</th>
    <td>{{ et.get_rank_display }}</td>
</tr><tr>
    <th>Race</th>
    <td><a href="{% url 'race' et.race.id %}">{{ et.race.name }}</a></td>
</tr><tr>
    <th>Cult rank</th>
    <td>{{ et.get_cult_rank_display }}</td>
</tr><tr>
    <th>Notes</th>
    <td>{{ et.notes }}</td>
</tr><tr>
    <th>Creator</th><td>{{ et.owner.username }}</td>
</tr></table>

<table id="stats_and_hp"><tr><td valign="top">
<table>
<tr><th colspan="2">Stats</th></tr>
{% for stat in et.stats %}
    <tr>
        <td>{{ stat.name }}</td>
        <td>{{ stat.die_set }}</td>
    </tr>
{% endfor %}
</table>
</td><td valign="top">
<table>
<tr><th>D20</th><th>Hit location</th><th>Armor</th></tr>
{% for hl in et.hit_locations %}
    <tr>
        <td>{{ hl.range|safe }}</td>
        <td>{{ hl.name }}</td>
        <td>{{ hl.armor }}</td>
    </tr>
{% endfor %}
</table>
</td><td valign="top">
<table>
<tr><th colspan="2">Attributes</th></tr>
<tr>
    <td>Movement</td>
    <td>{{ et.movement }}</td>
</tr>
<tr>
    <td>Natural armor</td>
    <td>{% if et.natural_armor %}Yes{% else %}No{% endif %}</td>
</tr>
</table>
</td></tr></table>

{% if et.cults and et.cult_amount != '0' %}
<h3>Cults</h3>
Amount: {{ et.cult_amount }}
<table>
<tr><th>Cult</th><th>Prob.</th></tr>
{% for cult in et.cults %}
<tr>
    <td><a href="{% url 'enemy_template' cult.cult.id %}">{{ cult.name }}</a></td>
    <td>{{ cult.probability }}</td>
</tr>
{% endfor %}
</table>
{% endif %}

<div> <!-- Additional Features -->
    {% if et.additional_features %}
        <h3>Additional features</h3>
        <table>
<tr><th>Feature</th><th>Probability</th><th></th></tr>
{% for f in et.additional_features %}
    <tr>
        <td>{{ f.name }}</td>
        <td>{{ f.probability }}%</td>
        <td><a href="{% url 'feature_items' f.feature_list.id %}">View items</a></td>
    </tr>
{% endfor %}
        </table>
    {% endif %}
</div>

<div> <!-- Non-random features -->
    {% if et.nonrandom_features %}
    <h3>Non-random features</h3>
        <table>
            <tr><th>List</th><th>Feature</th></tr>
        {% for feature in et.nonrandom_features %}
            <tr>
                <td>{{ feature.feature.feature_list.name }}</td>
                <td>{{ feature.feature.name }}</td>
            </tr>
        {% endfor %}
        </table>
    {% endif %}
</div>

<h3>Standard skills</h3>
<table class="read_only"><tr>
{% for skill in et.included_standard_skills %}
    <th>{{ skill.name }}</th>
    <td>{{ skill.die_set }}</td>
    {% if forloop.counter|divisibleby:"3" %}</tr><tr>{% endif %}
{% endfor %}
</tr></table>

{% if et.included_magic_skills %}
<h3>Magic skills</h3>
<table class="read_only"><tr>
{% for skill in et.included_magic_skills %}
    <th>{{ skill.name }}</th>
    <td>{{ skill.die_set }}</td>
    {% if forloop.counter|divisibleby:"3" %}</tr><tr>{% endif %}
{% endfor %}
</tr></table>
{% endif %}

{% if et.included_professional_skills %}
<h3>Professional skills</h3>
<table class="read_only"><tr>
{% for skill in et.included_professional_skills %}
    <th>{{ skill.name }}</th>
    <td>{{ skill.die_set }}</td>
    {% if forloop.counter|divisibleby:"3" %}</tr><tr>{% endif %}
{% endfor %}
</tr></table>
{% endif %}

{% if et.included_custom_skills %}
<h3>Custom skills</h3>
<table class="read_only"><tr>
{% for skill in et.included_custom_skills %}
    <th>{{ skill.name }}</th>
    <td>{{ skill.die_set }}</td>
    {% if forloop.counter|divisibleby:"3" %}</tr><tr>{% endif %}
{% endfor %}
</tr></table>
{% endif %}

{% if not et.is_spirit %}
<h3>Combat styles</h3>
<table class="read_only"><tr>
{% for cs in et.combat_styles %}
<tr><th>{{ cs.name }}</th><td>{{ cs.die_set }}</td>
</table>

<h3>Weapon options</h3>
<table><tr><td valign="top">
<h4>1-handed weapons</h4>
<b>Amount: {{cs.one_h_amount}}</b>
<table>
    {% for weapon in cs.one_h_options %}
    <tr><td>{{ weapon.name }} ({{weapon.probability}})</td></tr>
    {% endfor %}
</table>
</td>

<td valign="top">
<h4>2-handed weapons</h4>
<b>Amount: {{cs.two_h_amount}}</b>
<table>
    {% for weapon in cs.two_h_options %}
    <tr><td>{{ weapon.name }} ({{weapon.probability}})</td></tr>
    {% endfor %}
</table>
</td>

<td valign="top">
<h4>Ranged weapons</h4>
<b>Amount: {{cs.ranged_amount}}</b>
<table>
    {% for weapon in cs.ranged_options %}
    <tr><td>{{ weapon.name }} ({{weapon.probability}})</td></tr>
    {% endfor %}
</table>
</td>

<td valign="top">
<h4>Shields</h4>
<b>Amount: {{cs.shield_amount}}</b>
<table>
    {% for weapon in cs.shield_options %}
    <tr><td>{{ weapon.name }} ({{weapon.probability}})</td></tr>
    {% endfor %}
</table>
</td></tr></table>

{% if cs.custom_weapons %}
<h4>Custom weapons</h4>
<table>
<tr valign="bottom">
    <th>Name</th>
    <th>Type</th>
    <th>Damage</th>
    <th>Size</th>
    <th>Reach</th>
    <th>Range</th>
    <th>SpecialFX</th>
    <th>Dam.<br>mod.</th>
    <th>Natural<br>weapon</th>
    <th>AP</th>
    <th>HP</th>
</tr>
{% for weapon in cs.custom_weapons %}
<tr>
    <td>{{ weapon.name }}</td>
    <td>{{ weapon.type }}</td>
    <td>{{ weapon.damage }}</td>
    <td>{{ weapon.size }}</td>
    <td>{{ weapon.reach }}</td>
    <td>{{weapon.range}}</td>
    <td>{{weapon.special_effects}}</td>
    <td>{% if weapon.damage_modifier %}Y{% else %}N{% endif %}</td>
    <td>{% if weapon.natural_weapon %}Y{% else %}N{% endif %}</td>
    <td {% if weapon.natural_weapon %}style="display: none;"{% endif %}>{{weapon.ap}}</td>
    <td {% if weapon.natural_weapon %}style="display: none;"{% endif %}>{{weapon.hp}}</td>
    <td colspan="2" {% if not weapon.natural_weapon %}style="display: none;"{% endif %}>{{ weapon.ap_hp_as_per }}</td>
</tr>
{% endfor %}
</table>
{% endif %}

{% endfor %}
<br>


{% endif %} <!-- et.spirit if ends -->

{% if et.folk_spells %}
<h3>Folk spells</h3>
Amount: {{ et.folk_spell_amount }}
<table><tr>
<tr><th>Spell</th><th>Prob.&nbsp;&nbsp;&nbsp;</th><th>Spell</th><th>Prob.&nbsp;&nbsp;&nbsp;</th><th>Spell</th><th>Prob.&nbsp;&nbsp;&nbsp;</th><th>Spell</th><th>Prob.&nbsp;&nbsp;&nbsp;</th></tr>
{% for spell in et.folk_spells %}
    <td>{{ spell.name }} {{ spell.detail_text }}</td>
    <td>{{ spell.probability }}</td>
    {% if not forloop.first and forloop.counter|divisibleby:"4" %}</tr><tr>{% endif %}
{% endfor %}
</tr></table>
{% endif %}

{% if et.theism_spells %}
<h3>Theism spells</h3>
Amount: {{ et.theism_spell_amount }}
<table>
<tr><th>Spell</th><th>Prob.&nbsp;&nbsp;&nbsp;</th><th>Spell</th><th>Prob.&nbsp;&nbsp;&nbsp;</th><th>Spell</th><th>Prob.&nbsp;&nbsp;&nbsp;</th><th>Spell</th><th>Prob.&nbsp;&nbsp;&nbsp;</th></tr>
<tr>
{% for spell in et.theism_spells %}
    <td>{{ spell.name }} {{ spell.detail_text }}</td>
    <td>{{ spell.probability }}</td>
    {% if not forloop.first and forloop.counter|divisibleby:"4" %}</tr><tr>{% endif %}
{% endfor %}
</tr></table>
{% endif %}

{% if et.sorcery_spells and et.sorcery_spell_amount != '0' %}
<h3>Sorcery spells</h3>
Amount: {{ et.sorcery_spell_amount }}
<table>
<tr><th>Spell</th><th>Prob.&nbsp;&nbsp;&nbsp;</th><th>Spell</th><th>Prob.&nbsp;&nbsp;&nbsp;</th><th>Spell</th><th>Prob.</th></tr>
<tr>
{% for spell in et.sorcery_spells %}
    <td>{{ spell.name }} {{ spell.detail_text }}</td>
    <td>{{ spell.probability }}</td>
    {% if not forloop.first and forloop.counter|divisibleby:"3" %}</tr><tr>{% endif %}
{% endfor %}
</tr></table>
{% endif %}

{% if et.spirits and et.spirit_amount != '0' %}
<h3>Spirits</h3>
Amount: {{ et.spirit_amount }}
<table>
<tr><th>Spirit</th><th>Prob.</th></tr>
{% for spirit in et.spirits %}
<tr>
    <td><a href="{% url 'enemy_template' spirit.spirit.id %}">{{ spirit.name }}</a></td>
    <td>{{ spirit.probability }}</td>
</tr>
{% endfor %}
</table>
{% endif %}

{% endblock %}
