<h3>Combat styles</h3>
{% for cs in combat_styles %}
<input id="combat_style_name_{{cs.id}}" class="data" type="text" size="30" item_id="{{cs.id}}" item_type="et_combat_style_name" value="{{ cs.name }}" />
<input id="combat_style_value_{{cs.id}}" class="data" type="text" item_id="{{cs.id}}" item_type="et_combat_style_value" value="{{ cs.die_set }}" />

<h3>Weapon options</h3>
<table><tr>
    <td valign="top">
    <h4>1-handed weapons</h4>
    Amount:
    <input id="et_one_h_amount_{{ cs.id }}" class="data" size="3" type="text" item_id="{{ cs.id }}" item_type="et_one_h_amount" value="{{ cs.one_h_amount }}" /><br>
    <table>
        <tr><th>Weapon</b></th><th>Prob.</th></tr>
        {% for weapon in cs.1h_melee %}
        <tr>
            <td>{{ weapon.name }}</td>
            <td><input id="weapon_prob_{{weapon.id}}" class="data number" type="number" min="0" max="100" parent_id="{{ cs.id }}" item_id="{{weapon.id}}" item_type="et_weapon_prob" value="{{ weapon.probability }}" /></td>
        </tr>
        {% endfor %}
    </table>
    </td>

    <td valign="top">
    <h4>2-handed weapons</h4>
    Amount:
    <input id="et_two_h_amount_{{ cs.id }}" class="data" size="3" type="text" item_id="{{ cs.id }}" item_type="et_two_h_amount" value="{{ cs.two_h_amount }}" /><br>
    <table>
        <tr><th>Weapon</b></th><th>Prob.</th></tr>
        {% for weapon in cs.2h_melee %}
        <tr>
            <td>{{ weapon.name }}</td>
            <td><input id="weapon_prob_{{weapon.id}}" class="data number" type="number" min="0" max="100" parent_id="{{ cs.id }}" item_id="{{weapon.id}}" item_type="et_weapon_prob" value="{{ weapon.probability }}" /></td>
        </tr>
        {% endfor %}
    </table>
    </td>

    <td valign="top">
    <h4>Ranged weapons</h4>
    Amount:
    <input id="et_ranged_amount_{{ cs.id }}" class="data" size="3" type="text" item_id="{{ cs.id }}" item_type="et_ranged_amount" value="{{ cs.ranged_amount }}" /><br>
    <table>
        <tr><th>Weapon</b></th><th>Prob.</th></tr>
        {% for weapon in cs.ranged %}
        <tr>
            <td>{{ weapon.name }}</td>
            <td><input id="weapon_prob_{{weapon.id}}" class="data number" type="number" min="0" max="100" parent_id="{{ cs.id }}" item_id="{{weapon.id}}" item_type="et_weapon_prob" value="{{ weapon.probability }}" /></td>
        </tr>
        {% endfor %}
    </table>
    </td>

    <td valign="top">
    <h4>Shields</h4>
    Amount:
    <input id="et_shield_amount_{{ cs.id }}" class="data" size="3" type="text" item_id="{{ cs.id }}" item_type="et_shield_amount" value="{{ cs.shield_amount }}" /><br>
    <table>
        <tr><th>Weapon</b></th><th>Prob.</th></tr>
        {% for weapon in cs.shield %}
        <tr>
            <td>{{ weapon.name }}</td>
            <td><input id="weapon_{{weapon.id}}" class="data number" type="number" min="0" max="100" parent_id="{{ cs.id }}" item_id="{{weapon.id}}" item_type="et_weapon_prob" value="{{ weapon.probability }}" /></td>
        </tr>
        {% endfor %}
    </table>
    </td>
    
    </tr><tr><td colspan="4">
    {% if cs.customs %}
    <h4>Custom weapons</h4>
    <table>
    <tr>
        <th>Name</th><th>Type</th><th>Damage</th><th>Size</th><th>Reach</th><th>Range</th><th>Dam. mod.</th><th>AP</th><th>HP</th><th>Prob.</th><th></th>
    </tr>
    {% for weapon in cs.customs %}
    <tr>
        <td><input id="custom_weapon_name_{{weapon.id}}" class="data" type="text" size="20" item_id="{{weapon.id}}" item_type="et_custom_weapon_name" value="{{ weapon.name }}" /></td>
        <td>
            <select id="custom_weapon_type_{{weapon.id}}" class="data" item_id="{{ weapon.id }}" item_type="et_custom_weapon_type">
                <option value="1h-melee" {% if weapon.type == '1h-melee' %}selected="selected"{% endif %}>1-handed</option>
                <option value="2h-melee" {% if weapon.type == '2h-melee' %}selected="selected"{% endif %}>2-handed</option>
                <option value="ranged" {% if weapon.type == 'ranged' %}selected="selected"{% endif %}>Ranged</option>
                <option value="shield" {% if weapon.type == 'shield' %}selected="selected"{% endif %}>Shield</option>
            </select>
        </td>
        <td><input id="custom_weapon_damage_{{weapon.id}}" class="data" type="text" size="6" item_id="{{weapon.id}}" item_type="et_custom_weapon_damage" value="{{weapon.damage}}"></td>
        <td>
            <select id="custom_weapon_size_{{weapon.id}}" class="data" item_id="{{ weapon.id }}" item_type="et_custom_weapon_size">
                <option value="-" {% if weapon.size == '-' %}selected="selected"{% endif %}>-</option>
                <option value="S" {% if weapon.size == 'S' %}selected="selected"{% endif %}>S</option>
                <option value="M" {% if weapon.size == 'M' %}selected="selected"{% endif %}>M</option>
                <option value="L" {% if weapon.size == 'L' %}selected="selected"{% endif %}>L</option>
                <option value="H" {% if weapon.size == 'H' %}selected="selected"{% endif %}>H</option>
                <option value="E" {% if weapon.size == 'E' %}selected="selected"{% endif %}>E</option>
                <option value="C" {% if weapon.size == 'C' %}selected="selected"{% endif %}>C</option>
            </select>
        </td>
        <td>
            <select id="custom_weapon_reach_{{weapon.id}}" class="data" item_id="{{ weapon.id }}" item_type="et_custom_weapon_reach">
                <option value="-" {% if weapon.reach == '-' %}selected="selected"{% endif %}>-</option>
                <option value="T" {% if weapon.reach == 'T' %}selected="selected"{% endif %}>T</option>
                <option value="S" {% if weapon.reach == 'S' %}selected="selected"{% endif %}>S</option>
                <option value="M" {% if weapon.reach == 'M' %}selected="selected"{% endif %}>M</option>
                <option value="L" {% if weapon.reach == 'L' %}selected="selected"{% endif %}>L</option>
                <option value="VL" {% if weapon.reach == 'VL' %}selected="selected"{% endif %}>VL</option>
            </select>
        </td>
        <td><input id="custom_weapon_range_{{weapon.id}}" class="data" type="text" size="8" item_id="{{weapon.id}}" item_type="et_custom_weapon_range" value="{{weapon.range}}"></td>
        <td><input id="custom_weapon_dammod_{{weapon.id}}" class="data" type="checkbox" item_id="{{weapon.id}}" item_type="et_custom_weapon_damage_modifier" {% if weapon.damage_modifier %}checked="checked"{% endif %}></td>
        <td><input id="custom_weapon_ap_{{weapon.id}}" class="data number" type="number" min="0" max="100" item_id="{{weapon.id}}" item_type="et_custom_weapon_ap" value="{{weapon.ap}}"></td>
        <td><input id="custom_weapon_hp_{{weapon.id}}" class="data number" type="number" min="0" max="100" item_id="{{weapon.id}}" item_type="et_custom_weapon_hp" value="{{weapon.hp}}"></td>
        <td><input id="custom_weapon_prob_{{weapon.id}}" class="data number" type="number" min="0" max="100" item_id="{{weapon.id}}" item_type="et_custom_weapon_prob" value="{{ weapon.probability }}" /></td>
        <td><img src="/rq_static/minus.png" width="23" height="23" class="del_item" item_id="{{ weapon.id }}" item_type="custom_weapon"/></td>
    </tr>
    {% endfor %}
    </table>
    {% endif %}
    <button class="add_custom_weapon" cs_id="{{ cs.id }}" type="1h-melee">Add custom weapon</button>
    </td>
    
</tr></table>
{% endfor %}
