{% load markdown %}
<html>
<head>
{% load static %}
<title>RQ: {% if party %}{{ party.name }}{% else %}{{ enemies.0.name }}{% endif %}</title>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<style type="text/css">
body, td, th{
    font-size: 12px;
    font-family: "Times New Roman", Times, serif;
}

.nowrap{
    white-space: nowrap;
}

.party_name{
    font-weight: bold;
    font-size: 16px;
    font-family: sans-serif;
    text-decoration: underline;
}

.template_name{
    font-weight: bold;
    width: 94%;
    text-align: left;
}
.top_note{
    width: 580px;
}

div.row_container{
    width: 880px;
    position: relative;
    page-break-inside: avoid;
    padding-bottom: 50px;
    vertical-align: top;
}

div.enemy_container{
    margin-top: 15px;
    margin-right: 0px;
    width: 420px;
    display: inline-block;
    page-break-inside: avoid;
    vertical-align: top;
}

.enemy_table{
    background: white;
    border-collapse: collapse;
}

.inner_enemy_table{
    border-collapse: collapse;
}

table#attributes{
    max-width: 240px;
}

.inner_enemy_table td{
    padding: 2px;
}

.toprow{
    background: #555;
    color: white;
}
.evenrow{
    background: #CCC;
    line-height: 15px;
}

.oddrow{
    line-height: 15px;
}

.title{
    font-weight: bold;
}

.spirit_name{
    text-decoration: underline;
}

.item_list{
    font-style: italic;
}

table.weapon_table{
    border-spacing: 0px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: underline;
}

.page_break{
    page-break-after: always;
}

div#pdf_export{
    position: absolute;
    top: 1px;
    left: 700px;
    z-index: 3;
}

div#png_export{
    position: absolute;
    top: 1px;
    left: 600px;
    z-index: 3;
}

@page {
  margin: 0;
}

@media print{
    div#pdf_export, div#png_export, .template_link{
        display: none;
    }
    body{
        background-color: white;
    }
    div.row_container{
        width: 770px;
    }
    div.enemy_container{
        width: 380px;
    }
    body, td, th{
        font-size: 10px;
    }
}


</style>
</head>
<body>
{% if party %}
<span class="party_name"><a href="{% url 'party' party.id %}">{{ party.name }}</a></span>
{% endif %}

<div class="top_note"> <!-- Party additional Features -->
{% if party_additional_features %}
    <b><u>Party features:</u></b><br>
    {% for feature in party_additional_features %}
        <span class="title">{{ feature.feature_list.name }}:</span><span class="item_list">
            {{ feature.name.strip|markdown }}
        </span><br>
    {% endfor %}
{% endif %}
</div>

{% if party.notes %}
    <div class="top_note"><b>Notes:</b>
        <span id="party_notes" class="editable" contenteditable>{{ party.notes|markdown }}</span>
    </div>
{% endif %}

{% if single_template %}
    {% if enemies.0.additional_features %}
    <div class="top_note"> <!-- Additional Features -->
        <b><u>All creatures have the following features:</u></b><br>
        {% for feature in enemies.0.additional_features %}
            {% if feature.non_random %}
            <span class="title">{{ feature.feature_list.name }}:</span><span class="item_list">
                {{ feature.name|markdown }}
            </span><br>
            {% endif %}
        {% endfor %}
    </div>
    {% endif %}
    {% if enemies.0.notes %}
    <div class="top_note">
        <span class="title">Notes:</span>
        <span id="notes" class="top_note item_list editable" contenteditable>{{ enemies.0.notes|markdown }}</span>
    </div>
    {% endif %}
{% endif %}


{% if generated_html %}
<div id="pdf_export">
<form action="{% url 'pdf_export' %}" method="GET">
<input type="hidden" name="generated_html" value="{{ generated_html }}">
<input type="hidden" name="action" value="pdf_export">
<input type="submit" value="PDF Export">
</form>
</div>
<div id="png_export">
<form action="{% url 'png_export' %}" method="GET" target="_blank">
<input type="hidden" name="generated_html" value="{{ generated_html }}">
<input type="hidden" name="action" value="png_export">
<input type="submit" value="PNG Export">
</form>
</div>
{% endif %}

<div id="enemies">
<div class="row_container">
{% for enemy in enemies %}

{% if enemy.is_spirit %}

<div class="enemy_container"> <!-- Spirit begins -->
    <span id="enemy_{{ forloop.counter }}" class="template_name editable" contenteditable>{{ enemy.name }}</span>
    {% if generated_html %}
    <a href="{% url 'enemy_template' enemy.et.id %}"><img class="template_link" src="{% static 'images/link.png' %}" height="12" width="12" /></a>
    {% endif %}
<table class="enemy_table">
    <tr>
        <td colspan="3">
        </td>
    </tr>
    <tr><td valign="top">
        <table class="inner_enemy_table" id="characteristics">
            <tr class="toprow"><th>Chars</th></tr>
            {% for stat in enemy.get_stats %}
                <tr class="{% if forloop.counter|divisibleby:2 %}evenrow{% else %}oddrow{% endif %}"><td>
                    {{ stat.name }}:&nbsp;{{ stat.value }}
                </td></tr>
            {% endfor %}
            <tr class="evenrow"><td>&nbsp;</td></tr>
        </table>
    </td><td valign="top">
        <table class="inner_enemy_table" id="attributes">
            <tr class="toprow"> <th colspan="2">Attributes</th></tr>
            <tr class="oddrow"> <td>Action Points</td>  <td>{{ enemy.attributes.action_points }}</td></tr>
            <tr class="evenrow"><td>Spirit Damage</td>  <td>{{ enemy.attributes.spirit_damage }}</td></tr>
            <tr class="oddrow"> <td>Magic Points</td>   <td>{{ enemy.attributes.magic_points }}</td></tr>
            <tr class="evenrow"><td>Strike Rank</td>    <td>{{ enemy.attributes.strike_rank }}</td></tr>
            <tr class="oddrow"><td>Intensity</td>       <td>{{ enemy.attributes.spirit_intensity }}</td></tr>
        </table>
    </td></tr>
</table>
    
<span class="title">Skills:</span><span class="item_list">
    {% for skill in enemy.skills %}
        {{ skill.name }} {{skill.value}}%{% if not forloop.last %}, {% endif %}
    {% endfor %}
</span><br>

{% if enemy.folk_spells %}
    <span class="title">Folk magic spells:</span><span class="item_list">
        {% for spell in enemy.folk_spells %}
            {{ spell.name }}{% if spell.detail %} {{ spell.detail }}{% endif %}{% if not forloop.last %}, {% endif %}
        {% endfor %}
    </span><br>
{% endif %}

{% if enemy.sorcery_spells %}
    <span class="title">Maximum shaping: </span><span class="item_list">{{ enemy.attributes.max_shaping }}</span><br>
    <span class="title">Intensity: </span><span class="item_list">{{ enemy.attributes.intensity }}</span><br>
    <span class="title">Sorcery spells:</span><span class="item_list">
        {% for spell in enemy.sorcery_spells %}
            {{ spell.name }}{% if spell.detail %} {{ spell.detail }}{% endif %}{% if not forloop.last %}, {% endif %}
        {% endfor %}
    </span><br>
{% endif %}

{% if enemy.theism_spells %}
    <span class="title">Devotional pool: </span><span class="item_list">{{ enemy.attributes.devotional_pool }}</span> / 
    <span class="title">Maximum intensity: </span><span class="item_list">{{ enemy.attributes.max_intensity }}</span><br>
    <span class="title">Theism spells/Miracles:</span><span class="item_list">
        {% for spell in enemy.theism_spells %}
            {{ spell.name }}{% if spell.detail %} {{ spell.detail }}{% endif %}{% if not forloop.last %}, {% endif %}
        {% endfor %}
    </span><br>
{% endif %}

{% if enemy.mysticism_spells %}
    <span class="title">Maximum intensity: </span><span class="item_list">{{ enemy.attributes.max_mysticism_intensity }}</span> / 
    <span class="title">Max total intensity: </span><span class="item_list">{{ enemy.attributes.max_total_intensity }}</span><br>
    <span class="title">Mystic talents:</span><span class="item_list">
        {% for spell in enemy.mysticism_spells %}
            {{ spell.name }}{% if spell.detail %} {{ spell.detail }}{% endif %}{% if not forloop.last %}, {% endif %}
        {% endfor %}
    </span><br>
{% endif %}

<div> <!-- Spirits -->
{% if enemy.is_animist %}
    <span class="title">Max controllable spirits: </span><span class="item_list">{{ enemy.attributes.max_spirits }}</span> / 
    <span class="title">Max spirit POW: </span><span class="item_list">{{ enemy.attributes.max_pow }}</span><br>
{% endif %}
{% if enemy.spirits %}
    <span class="title">Spirits: </span><br>
    {% for spirit in enemy.spirits %}
    <span class="spirit_name"><a href="{% url 'enemy_template' spirit.et.id %}">{{ spirit.name }}</a></span>:
    <span class="item_list">
        Intensity {{ spirit.attributes.spirit_intensity }}, Action Points {{ spirit.attributes.action_points }}, Spirit Damage {{ spirit.attributes.spirit_damage }};
        {% for stat in spirit.get_stats %}{{ stat.name }} {{ stat.value }}{% if not forloop.last %}, {% endif %}{% endfor %};
        {% for skill in spirit.skills %}{{ skill.name }} {{ skill.value }}%{% if not forloop.last %}, {% endif %}{% endfor %};
        {% if spirit.folk_spells %}<u>Folk Spells</u>: {% for spell in spirit.folk_spells %}{{ spell }}{% if not forloop.last %}, {% endif %}{% endfor %}{% endif %}{% if spirit.theism_spells %};{% endif %}
        {% if spirit.theism_spells %}<u>Theism Spells</u>: {% for spell in spirit.theism_spells %}{{ spell }}{% if spell.detail %} {{ spell.detail }}{% endif %}{% if not forloop.last %}, {% endif %}{% endfor %}{% endif %}{% if spirit.sorcery_spells %};{% endif %}
        {% if spirit.sorcery_spells %}<u>Sorcery Spells</u>: {% for spell in spirit.sorcery_spells %}{{ spell }}{% if spell.detail %} {{ spell.detail }}{% endif %}{% if not forloop.last %}, {% endif %}{% endfor %};{% endif %}
        {% if spirit.mysticism_spells %}<u>Mystic talents</u>: {% for spell in spirit.mysticism_spells %}{{ spell }}{% if spell.detail %} {{ spell.detail }}{% endif %}{% if not forloop.last %}, {% endif %}{% endfor %};{% endif %}
        {% if spirit.spirits %}
            <br><u>Spirits of {{ spirit.name }}</u>:<br>
            {% for inner_spirit in spirit.spirits %}
            <span class="spirit_name"><a href="{% url 'enemy_template' inner_spirit.et.id %}">{{ inner_spirit.name }}</a></span>:
            <span class="item_list">
                Intensity {{ inner_spirit.attributes.spirit_intensity }}, Action Points {{ inner_spirit.attributes.action_points }}, Spirit Damage {{ inner_spirit.attributes.spirit_damage }};
                {% for stat in inner_spirit.get_stats %}{{ stat.name }} {{ stat.value }}{% if not forloop.last %}, {% endif %}{% endfor %};
                {% for skill in inner_spirit.skills %}{{ skill.name }} {{ skill.value }}%{% if not forloop.last %}, {% endif %}{% endfor %};
                {% if inner_spirit.folk_spells %}<u>Folk Spells</u>: {% for spell in inner_spirit.folk_spells %}{{ spell }}{% if not forloop.last %}, {% endif %}{% endfor %}{% endif %}{% if inner_spirit.theism_spells %};{% endif %}
                {% if inner_spirit.theism_spells %}<u>Theism Spells</u>: {% for spell in inner_spirit.theism_spells %}{{ spell }}{% if spell.detail %} {{ spell.detail }}{% endif %}{% if not forloop.last %}, {% endif %}{% endfor %}{% endif %}{% if inner_spirit.sorcery_spells %};{% endif %}
                {% if inner_spirit.sorcery_spells %}<u>Sorcery Spells</u>: {% for spell in inner_spirit.sorcery_spells %}{{ spell }}{% if spell.detail %} {{ spell.detail }}{% endif %}{% if not forloop.last %}, {% endif %}{% endfor %};{% endif %}{% if inner_spirit.mysticism_spells %};{% endif %}
                {% if inner_spirit.mysticism_spells %}<u>Mystic talents</u>: {% for spell in inner_spirit.mysticism_spells %}{{ spell }}{% if spell.detail %} {{ spell.detail }}{% endif %}{% if not forloop.last %}, {% endif %}{% endfor %};{% endif %}
                {% if inner_spirit.additional_features %}{% for feature in inner_spirit.additional_features %}{{ feature.feature_list.name }}: {{ feature.name|markdown }}{% if not forloop.last %}, {% endif %}{% endfor %}{% endif %}
            </span>{% if not forloop.last %}<br>{% endif %}
            {% endfor %}
        {% endif %}
        {% if spirit.additional_features %}{% for feature in spirit.additional_features %}{{ feature.feature_list.name }}: {{ feature.name|markdown }}{% if not forloop.last %}, {% endif %}{% endfor %}{% endif %}
    </span>{% if not forloop.last %}<br>{% endif %}
    {% endfor %}
    <br>
{% endif %}
</div>

<div> <!-- Additional Features -->
{% if enemy.additional_features %}
    {% for feature in enemy.additional_features %}
        {% if not single_template or not feature.non_random %}
        <span class="title">{{ feature.feature_list.name }}:</span><span class="item_list">
            {{ feature.name|markdown }}
        </span><br>
        {% endif %}
    {% endfor %}
{% endif %}
</div>

{% if enemy.notes and not single_template %}
<span class="title">Notes:</span>
<span id="notes_{{ forloop.counter }}" class="item_list editable" contenteditable>{{ enemy.notes|markdown }}</span>
{% endif %}

</div>

{% else %} <!-- Normal enemy begins -->
<div class="enemy_container">
<table class="enemy_table">
    <tr><td colspan="3">
        <span id="enemy_{{ forloop.counter }}" class="template_name editable" contenteditable>{{ enemy.name }}</span>
        {% if generated_html %}
        <a href="{% url 'enemy_template' enemy.et.id %}"><img class="template_link" src="{% static 'images/link.png' %}" height="12" width="12" /></a>
        {% endif %}
    </td></tr>
    <tr><td valign="top">
        <table class="inner_enemy_table" id="characteristics">
            <tr class="toprow"><th>Chars</th></tr>
            {% for stat in enemy.get_stats %}
                <tr><td class="{% if forloop.counter|divisibleby:2 %}evenrow{% else %}oddrow{% endif %}">
                    {{ stat.name }}:&nbsp;{{ stat.value }}
                </td></tr>
            {% endfor %}
        </table>
    </td><td valign="top">
        <table class="inner_enemy_table" id="attributes">
            <tr class="toprow"> <th colspan="2">Attributes</th></tr>
            <tr class="oddrow"> <td>Action&nbsp;Points</td>  <td>{{ enemy.attributes.action_points }}</td></tr>
            <tr class="evenrow"><td>Damage&nbsp;Modifier</td><td>{{ enemy.attributes.damage_modifier }}</td></tr>
            <tr class="oddrow"> <td>Magic&nbsp;Points</td>   <td>{{ enemy.attributes.magic_points }}</td></tr>
            <tr class="evenrow"><td>Movement</td>       <td>{{ enemy.attributes.movement }}</td></tr>
            <tr class="oddrow"> <td>Strike&nbsp;Rank</td>    <td>{{ enemy.attributes.strike_rank }}</td></tr>
            <tr class="evenrow"><td>Cult&nbsp;rank</td>      <td>{{ enemy.cult_rank }}</td></tr>
            <tr class="oddrow">
                {% if enemy.cults|length == 1 and enemy.cults.0.name|length <= 27 %}
                    <td>Cult</td>         <td>{{ enemy.cults.0.name }}</td></tr>
                {% else %}
                    <td style="visibility:hidden">.</td>         <td>&nbsp;</td></tr>
                {% endif %}
        </table>
    {% if enemy.hit_locations %}
    </td><td valign="top">
        <table class="inner_enemy_table" id="hit_locations">
            <tr class="toprow"><th>1D20</th><th>Location</th><th>AP/HP</th></tr>
            {% for hl in enemy.hit_locations %}
                <tr class="{% if forloop.counter|divisibleby:2 %}evenrow{% else %}oddrow{% endif %}">
                    <td class="nowrap">{{ hl.range|safe }}</td><td>{{ hl.name }}</td><td align="right">{{ hl.ap }}/{{ hl.hp }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
    </td></tr>
</table>

{% if enemy.cults|length > 1 or enemy.cults|length == 1 and enemy.cults.0.name|length > 27 %}
<span class="title">Cult(s):</span><span class="item_list">
    {% for cult in enemy.cults %}
        {{ cult.name }}{% if not forloop.last %}, {% endif %}
    {% endfor %}
</span><br>
{% endif %}

<span class="title">Skills:</span><span class="item_list">
    {% for skill in enemy.skills %}
        {{ skill.name }} {{skill.value}}%{% if not forloop.last %}, {% endif %}
    {% endfor %}
</span><br>

{% if enemy.folk_spells %}
    <span class="title">Folk magic spells:</span><span class="item_list">
        {% for spell in enemy.folk_spells %}
            {{ spell.name }}{% if spell.detail %} {{ spell.detail }}{% endif %}{% if not forloop.last %}, {% endif %}
        {% endfor %}
    </span><br>
{% endif %}

{% if enemy.sorcery_spells %}
    <span class="title">Maximum shaping: </span><span class="item_list">{{ enemy.attributes.max_shaping }}</span><br>
    <span class="title">Intensity: </span><span class="item_list">{{ enemy.attributes.intensity }}</span><br>
    <span class="title">Sorcery spells:</span><span class="item_list">
        {% for spell in enemy.sorcery_spells %}
            {{ spell.name }}{% if spell.detail %} {{ spell.detail }}{% endif %}{% if not forloop.last %}, {% endif %}
        {% endfor %}
    </span><br>
{% endif %}

{% if enemy.theism_spells %}
    <span class="title">Devotional pool: </span><span class="item_list">{{ enemy.attributes.devotional_pool }}</span> / 
    <span class="title">Maximum intensity: </span><span class="item_list">{{ enemy.attributes.max_intensity }}</span><br>
    <span class="title">Theism spells/Miracles:</span><span class="item_list">
        {% for spell in enemy.theism_spells %}
            {{ spell.name }}{% if spell.detail %} {{ spell.detail }}{% endif %}{% if not forloop.last %}, {% endif %}
        {% endfor %}
    </span><br>
{% endif %}

{% if enemy.mysticism_spells %}
    <span class="title">Maximum intensity: </span><span class="item_list">{{ enemy.attributes.max_mysticism_intensity }}</span> / 
    <span class="title">Max total intensity: </span><span class="item_list">{{ enemy.attributes.max_total_intensity }}</span><br>
    <span class="title">Mystic talents:</span><span class="item_list">
        {% for spell in enemy.mysticism_spells %}
            {{ spell.name }}{% if spell.detail %} {{ spell.detail }}{% endif %}{% if not forloop.last %}, {% endif %}
        {% endfor %}
    </span><br>
{% endif %}

<div> <!-- Spirits -->
{% if enemy.is_animist %}
    <span class="title">Max controllable spirits: </span><span class="item_list">{{ enemy.attributes.max_spirits }}</span> / 
    <span class="title">Max spirit POW: </span><span class="item_list">{{ enemy.attributes.max_pow }}</span><br>
{% endif %}
{% if enemy.spirits %}
    <span class="title">Spirits: </span><br>
    {% for spirit in enemy.spirits %}
    <span class="spirit_name"><a href="{% url 'enemy_template' spirit.et.id %}">{{ spirit.name }}</a></span>:
    <span class="item_list">
        Intensity {{ spirit.attributes.spirit_intensity }}, Action Points {{ spirit.attributes.action_points }}, Spirit Damage {{ spirit.attributes.spirit_damage }};
        {% for stat in spirit.get_stats %}{{ stat.name }} {{ stat.value }}{% if not forloop.last %}, {% endif %}{% endfor %};
        {% for skill in spirit.skills %}{{ skill.name }} {{ skill.value }}%{% if not forloop.last %}, {% endif %}{% endfor %};
        {% if spirit.folk_spells %}<u>Folk Spells</u>: {% for spell in spirit.folk_spells %}{{ spell.name }}{% if not forloop.last %}, {% endif %}{% endfor %}{% endif %}{% if spirit.theism_spells %};{% endif %}
        {% if spirit.theism_spells %}<u>Theism Spells</u>: {% for spell in spirit.theism_spells %}{{ spell.name }}{% if spell.detail %} {{ spell.detail }}{% endif %}{% if not forloop.last %}, {% endif %}{% endfor %}{% endif %}{% if spirit.sorcery_spells %};{% endif %}
        {% if spirit.sorcery_spells %}<u>Sorcery Spells</u>: {% for spell in spirit.sorcery_spells %}{{ spell.name }}{% if spell.detail %} {{ spell.detail }}{% endif %}{% if not forloop.last %}, {% endif %}{% endfor %};{% endif %}
        {% if spirit.mysticism_spells %}<u>Mystic talents</u>: {% for spell in spirit.mysticism_spells %}{{ spell.name }}{% if spell.detail %} {{ spell.detail }}{% endif %}{% if not forloop.last %}, {% endif %}{% endfor %};{% endif %}
        {% if spirit.spirits %}
            <br><u>Spirits of {{ spirit.name }}</u>:<br>
            {% for inner_spirit in spirit.spirits %}
            <span class="spirit_name"><a href="{% url 'enemy_template' inner_spirit.et.id %}">{{ inner_spirit.name }}</a></span>:
            <span class="item_list">
                Intensity {{ inner_spirit.attributes.spirit_intensity }}, Action Points {{ inner_spirit.attributes.action_points }}, Spirit Damage {{ inner_spirit.attributes.spirit_damage }};
                {% for stat in inner_spirit.get_stats %}{{ stat.name }} {{ stat.value }}{% if not forloop.last %}, {% endif %}{% endfor %};
                {% for skill in inner_spirit.skills %}{{ skill.name }} {{ skill.value }}%{% if not forloop.last %}, {% endif %}{% endfor %};
                {% if inner_spirit.folk_spells %}<u>Folk Spells</u>: {% for spell in inner_spirit.folk_spells %}{{ spell }}{% if not forloop.last %}, {% endif %}{% endfor %}{% endif %}{% if inner_spirit.theism_spells %};{% endif %}
                {% if inner_spirit.theism_spells %}<u>Theism Spells</u>: {% for spell in inner_spirit.theism_spells %}{{ spell }}{% if spell.detail %} {{ spell.detail }}{% endif %}{% if not forloop.last %}, {% endif %}{% endfor %}{% endif %}{% if inner_spirit.sorcery_spells %};{% endif %}
                {% if inner_spirit.sorcery_spells %}<u>Sorcery Spells</u>: {% for spell in inner_spirit.sorcery_spells %}{{ spell }}{% if spell.detail %} {{ spell.detail }}{% endif %}{% if not forloop.last %}, {% endif %}{% endfor %};{% endif %}{% if inner_spirit.mysticism_spells %};{% endif %}
                {% if inner_spirit.mysticism_spells %}<u>Mystic talents</u>: {% for spell in inner_spirit.mysticism_spells %}{{ spell }}{% if spell.detail %} {{ spell.detail }}{% endif %}{% if not forloop.last %}, {% endif %}{% endfor %};{% endif %}
                {% if inner_spirit.spirits %}
                    <br><u>Spirits of {{ inner_spirit.name }}</u>:<br>
                    {% for inner2_spirit in inner_spirit.spirits %}
                    <span class="spirit_name"><a href="{% url 'enemy_template' inner2_spirit.et.id %}">{{ inner2_spirit.name }}</a></span>:
                    <span class="item_list">
                        Intensity {{ inner2_spirit.attributes.spirit_intensity }}, Action Points {{ inner2_spirit.attributes.action_points }}, Spirit Damage {{ inner2_spirit.attributes.spirit_damage }};
                        {% for stat in inner2_spirit.get_stats %}{{ stat.name }} {{ stat.value }}{% if not forloop.last %}, {% endif %}{% endfor %};
                        {% for skill in inner2_spirit.skills %}{{ skill.name }} {{ skill.value }}%{% if not forloop.last %}, {% endif %}{% endfor %};
                        {% if inner2_spirit.folk_spells %}<u>Folk Spells</u>: {% for spell in inner2_spirit.folk_spells %}{{ spell }}{% if not forloop.last %}, {% endif %}{% endfor %}{% endif %}{% if inner2_spirit.theism_spells %};{% endif %}
                        {% if inner2_spirit.theism_spells %}<u>Theism Spells</u>: {% for spell in inner2_spirit.theism_spells %}{{ spell }}{% if spell.detail %} {{ spell.detail }}{% endif %}{% if not forloop.last %}, {% endif %}{% endfor %}{% endif %}{% if inner2_spirit.sorcery_spells %};{% endif %}
                        {% if inner2_spirit.sorcery_spells %}<u>Sorcery Spells</u>: {% for spell in inner2_spirit.sorcery_spells %}{{ spell }}{% if spell.detail %} {{ spell.detail }}{% endif %}{% if not forloop.last %}, {% endif %}{% endfor %};{% endif %}{% if inner2_spirit.mysticism_spells %};{% endif %}
                        {% if inner2_spirit.mysticism_spells %}<u>Mystic talents</u>: {% for spell in inner2_spirit.mysticism_spells %}{{ spell }}{% if spell.detail %} {{ spell.detail }}{% endif %}{% if not forloop.last %}, {% endif %}{% endfor %};{% endif %}
                        {% if inner2_spirit.additional_features %}{% for feature in inner2_spirit.additional_features %}{{ feature.feature_list.name }}: {{ feature.name|markdown }}{% if not forloop.last %}, {% endif %}{% endfor %}{% endif %}
                    </span>{% if not forloop.last %}<br>{% endif %}
                    {% endfor %}
                {% endif %}
                {% if inner_spirit.additional_features %}{% for feature in inner_spirit.additional_features %}{{ feature.feature_list.name }}: {{ feature.name|markdown }}{% if not forloop.last %}, {% endif %}{% endfor %}{% endif %}
            </span>{% if not forloop.last %}<br>{% endif %}
            {% endfor %}
        {% endif %}
        {% if spirit.additional_features %}{% for feature in spirit.additional_features %}{{ feature.feature_list.name }}: {{ feature.name|markdown }}{% if not forloop.last %}, {% endif %}{% endfor %}{% endif %}
    </span>{% if not forloop.last %}<br>{% endif %}
    {% endfor %}
    <br>
{% endif %}
</div>

<div> <!-- Additional Features -->
{% if enemy.additional_features %}
    {% for feature in enemy.additional_features %}
        {% if not single_template or not feature.non_random %}
        <span class="title">{{ feature.feature_list.name }}:</span><span class="item_list">
            {{ feature.name|markdown }}
        </span><br>
        {% endif %}
    {% endfor %}
{% endif %}
</div>

<span class="title">Combat Styles:</span>
{% for cs in enemy.combat_styles %}
    <span class="item_list">{{ cs.name }} {{ cs.value }}%{% if not forloop.last %}, {% endif %}</span>
    {% if cs.weapons %}
    <table class="weapon_table">
        <tr><th align="left">Weapon</th><th>Size/Force</th><th align="left">Reach</th><th align="left">Damage</th><th align="left">AP/HP</th><th align="left">Effects</th></tr>
        {% for weapon in cs.weapons %}
            <tr>
                <td>{{ weapon.name }}{% if weapon.type == '2h-melee' %} (2h){% endif %}</td>
                <td>{{weapon.size}}</td>
                <td>{% if weapon.type == 'ranged' %}{{weapon.range}}{% else %}{{weapon.reach}}{% endif %}</td>
                <td>{{weapon.damage}}{% if enemy.attributes.damage_modifier != '+0' and weapon.damage_modifier %}{{ enemy.attributes.damage_modifier }}{% endif %}</td>
                <td>{% if weapon.natural_weapon %}As per {{ weapon.ap_hp_as_per }}{% else %}{{weapon.ap}}/{{weapon.hp}}{% endif %}</td>
                <td>{{weapon.special_effects}}</td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
{% endfor %}


{% if enemy.notes and not single_template %}
<span class="title">Notes:</span>
<span id="notes_{{ forloop.counter }}" class="item_list editable" contenteditable>{{ enemy.notes|markdown }}</span>
{% endif %}

</div>
{% endif %} <!-- Normal enemy if ends -->
{% if not forloop.first and not forloop.last and forloop.counter|divisibleby:"2" %}</div><div class="row_container">{% endif %}
{% endfor %}
</div>

</div>

<script>
function get_cookie(name){
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].toString().replace(/^\s+/, "").replace(/\s+$/, "");
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
};

$(document).ready(function(){
    window.axios.defaults.headers.common['X-CSRFToken'] = get_cookie('csrftoken');
});

$('.editable').blur(function(){
    var data = {'value': $(this).html(), 'id': $(this).attr('id'), 'html_file': "{{ generated_html }}"}
    axios.post('/rest/change_template/', data);
});

</script>


</body>
</html>
