{% extends "base.html" %}
{% load url from future %}

{% block content %}
<div id="et_filter_container">
    Filter:
    <form action="{% url 'set_filter' %}" method="post" style="display: inline-block;">
    <input type="hidden" name="coming_from" value="{{request.path}}">
    {% csrf_token %}
    <select name="filter" onchange="this.form.submit()">
            <option value="None" {% if filter == 'None' %}selected="selected"{% endif %}>None</option>
            <option value="Starred" {% if filter == 'Starred' %}selected="selected"{% endif %}>Starred</option>
        {% for tag in all_et_tags %}
            <option value="{{ tag.name }}" {% if tag.name == filter %}selected="selected"{% endif %}>{{ tag }}</option>
        {% endfor %}
    </select>
    </form>
</div>

<form action="{% url 'generate_enemies' %}" method="post" target="_blank">
    Type to search: <input id="searchinput" /> | <input type="submit" name="generate" value="Generate"> | <input type="submit" name="lucky" value="Do you feel lucky?">
    {% csrf_token %}
    <div id="selected_enemy_template_list_container" style="display:none;">
        <table id="selected_enemy_template_list">
            <thead><tr>
                <th></th>
                <th class="sort-alpha">Enemy type</th>
                <th>Amount</th>
                <th class="sort-alpha">Race</th>
                <th class="sort-alpha">Rank</th>
                <th class="sort-alpha">Creator</th>
                <th class="sort-alpha">Tags</th>
            </tr></thead>
        </table>
        <hr>
    </div>
    <div id="enemy_template_list_container">
    <table id="enemy_template_list" class="index_list">
        <thead><tr>
            <th></th>
            <th class="sort-alpha">Enemy type</th>
            <th>Amount</th>
            <th class="sort-alpha">Race</th>
            <th class="sort-alpha">Rank</th>
            <th class="sort-alpha">Creator</th>
            <th class="sort-alpha">Tags</th>
        </tr></thead>
        {% for et in templates %}
            <tr>
                <td>
                    {% if et.starred %}
                        <img et_id={{ et.id }} class="star" height="22" width="22" src="/rq_static/images/star_filled.png" />
                    {% else %}
                        <img et_id={{ et.id }} class="star" height="22" width="22" src="/rq_static/images/star_empty.png" {% if not user.is_authenticated %}title="Log in to Star favorites"{% endif %} />
                    {% endif %}
                </td>
                <td><a class="edit_item" href="{% url 'enemy_template' et.id %}">{{ et.name }}</a> {% if not et.published %}<b>*</b>{% endif %}</td>
                <td><input name="enemy_template_id_{{et.id}}" size="4" min="0" max="40" type="number" class="enemy_amount"></td>
                <td><a class="edit_item" href="{% url 'race' et.race.id %}">{{ et.race.name }}</a></td>
                <td>
                    {% if et.rank = 1 %}1&nbsp;Rabble{% endif %}
                    {% if et.rank = 2 %}2&nbsp;Novice{% endif %}
                    {% if et.rank = 3 %}3&nbsp;Skilled{% endif %}
                    {% if et.rank = 4 %}4&nbsp;Veteran{% endif %}
                    {% if et.rank = 5 %}5&nbsp;Master{% endif %}
                </td>
                <td>{{ et.owner }}</td>
                <td><div id="index_tag_container">
                    {% for tag in et.get_tags %}<div class="small_tag">{{tag}}</div>{% endfor %}
                </div></td>
            </tr>
        {% endfor %}
    </table>
    </div>
    {% if user.username %}
    <p><b>*</b> Unpublished</p>
    {% endif %}
</form>

<script>
function template_list_height(){
    {% if user.username %}
        var modifier = 245;
    {% else %}
        var modifier = 194;
    {% endif %}
    if ($('#selected_enemy_template_list_container').is(":visible")){
        list_container_height = $(window).height() - modifier - $('#selected_enemy_template_list_container').height();
    } else {
        list_container_height = $(window).height() - modifier;
    }
    if (list_container_height > $('#enemy_template_list').height()){
        list_container_height = $('#enemy_template_list').height()
    }
    return list_container_height;
}

function set_column_width(){
    // Set the columns in both table to be of the same width
    if ($('table#enemy_template_list tr:first th').eq(0).width() > $('table#selected_enemy_template_list td').eq(0).width()){
        var c0w = $('table#enemy_template_list tr:first th').eq(0).width();
        var c1w = $('table#enemy_template_list tr:first th').eq(1).width();
        var c2w = $('table#enemy_template_list tr:first th').eq(2).width();
        var c3w = $('table#enemy_template_list tr:first th').eq(3).width();
        var c4w = $('table#enemy_template_list tr:first th').eq(4).width();
        var c5w = $('table#enemy_template_list tr:first th').eq(5).width();
        var c6w = $('table#enemy_template_list tr:first th').eq(6).width();
        
        $('table#selected_enemy_template_list td').eq(0).css('width', c0w)
        $('table#selected_enemy_template_list td').eq(1).css('width', c1w)
        $('table#selected_enemy_template_list td').eq(2).css('width', c2w)
        $('table#selected_enemy_template_list td').eq(3).css('width', c3w)
        $('table#selected_enemy_template_list td').eq(4).css('width', c4w)
        $('table#selected_enemy_template_list td').eq(5).css('width', c5w)
        $('table#selected_enemy_template_list td').eq(6).css('width', c6w)
    } else {
        var c0w = $('table#selected_enemy_template_list tr:first td').eq(0).width();
        var c1w = $('table#selected_enemy_template_list tr:first td').eq(1).width();
        var c2w = $('table#selected_enemy_template_list tr:first td').eq(2).width();
        var c3w = $('table#selected_enemy_template_list tr:first td').eq(3).width();
        var c4w = $('table#selected_enemy_template_list tr:first td').eq(4).width();
        var c5w = $('table#selected_enemy_template_list tr:first td').eq(5).width();
        var c6w = $('table#selected_enemy_template_list tr:first td').eq(6).width();
        
        $('table#enemy_template_list th').eq(0).css('width', c0w)
        $('table#enemy_template_list td').eq(0).css('width', c0w)
        $('table#enemy_template_list th').eq(1).css('width', c1w)
        $('table#enemy_template_list td').eq(1).css('width', c1w)
        $('table#enemy_template_list th').eq(2).css('width', c2w)
        $('table#enemy_template_list td').eq(2).css('width', c2w)
        $('table#enemy_template_list th').eq(3).css('width', c3w)
        $('table#enemy_template_list td').eq(3).css('width', c3w)
        $('table#enemy_template_list th').eq(4).css('width', c4w)
        $('table#enemy_template_list td').eq(4).css('width', c4w)
        $('table#enemy_template_list th').eq(5).css('width', c5w)
        $('table#enemy_template_list td').eq(5).css('width', c5w)
        $('table#enemy_template_list th').eq(6).css('width', c6w)
        $('table#enemy_template_list td').eq(6).css('width', c6w)
    }
}

$(document).ready(function(){
    var table = new ttable('enemy_template_list'); 
    table.sorting.enabled = true;
    table.sorting.sortall = false;
    table.search.enabled = true;
    table.search.inputID = 'searchinput';
    table.search.casesensitive = false;
    table.style.num = false;
    table.rendertable();
    
    $('#enemy_template_list_container').css('height', template_list_height());
    $(window).resize(function(event){
        $('#enemy_template_list_container').css('height', template_list_height());
    });
    
    $('input').blur(function(event){
        var amount = $(event.target).val();
        if (amount > 0) {
            var row_id = $(event.target).parent().parent().attr('id');
            var row = $(event.target).parent().parent().remove().clone(); //tr -element
            $('#selected_enemy_template_list').append(row);
            // Need to delete it also from the temp table created by the sorter
            $('table#temp-enemy_template_list').find('tr#'+row_id).remove();
            $('#selected_enemy_template_list_container').show(0);
            set_column_width();
            $('#enemy_template_list_container').css('height', template_list_height());
        }
    });
});
</script>

{% endblock %}