{% extends "base.html" %}
{% load static %}

{% block title %}RQ: {{party.name}}{% endblock %}

{% block content %}
<script>
$(document).ready(function(){
    var cly = completely(document.getElementById('party_newtag'), {
        fontSize: '12px',
    	fontFamily : 'Arial',
        color: 'black',
    });
    cly.input.style.border= '1px solid #ABADB3';
    cly.input.style.width= '200px';
    cly.wrapper.style.width= '200px';
    cly.input.style.padding='1px';
    cly.options = [{% for t in all_party_tags %}'{{t}}',{% endfor %}];
    cly.onEnter = function(){
        var new_value = cly.getText();
        var item_id = {{ party.id }};
        var item_type = 'party_newtag';
        var input_object = null;
        submit(item_id, item_type, input_object, new_value);
        var tags = new_value.split(',');
        for (i in tags){
            var tag = tags[i].trim();
            $('#tag_container').append('<div class="tag">'+tag+'         \
            <img class="del_party_tag" src="{% static 'images/del_tag.png' %}" \
                    party_id="{{ party.id }}" value="'+tag+'"                           \
                    onmouseover="this.src=\'{% static 'images/del_tag_hover.png' %}\'"      \
                    onmouseout="this.src=\'{% static 'images/del_tag.png' %}\'"             \
                    onmouseup="this.src=\'{% static 'images/del_tag.png' %}\'"              \
                    onmousedown="this.src=\'{% static 'images/del_tag_active.png' %}\'" />  \
                  </div>');
            $('.del_party_tag').click(function(event){
                del_party_tag(event);
            })
        }
        cly.setText('');
    };
    cly.onChange = function(){
        text = capitalize(cly.getText())
        cly.setText(text)
        if (text != ''){
            cly.repaint();
        } else {
            cly.hideDropDown();
        }
    }
    
});
</script>

<form action="{% url 'delete_party' party.id %}" method="post">
{% csrf_token %}
<div id="delete_party_container"><input id="delete_party" type="submit" value="Delete party" /></div>
</form>

<div id="clone_party_container">
<form action="{% url 'clone_party' party.id %}" method="post">
{% csrf_token %}
<input id="clone_party" type="submit" value="Clone" />
</form>
</div>

<div id="generate_party_container">
<form action="{% url 'generate_party' %}" method="post" target="_blank">
{% csrf_token %}
<input name="party_id" type="hidden" value="{{ party.id }}">
<input style="width: 140px;" type="submit" value="Generate" />
</form>
</div>

<h2>Party</h2>
<table><tr>
    <th>Name</th>
    <td><input id="party_name" item_type="party_name" item_id="{{ party.id }}" class="data" type="text" size="60" value="{{party.name}}"></td>
</tr><tr>
    <th>Tags</th>
    <td><div id="tag_container">
        {% for tag in party.get_tags %}
            <div class="tag">{{ tag }}
            <img class="del_party_tag" src="{% static 'images/del_tag.png' %}"
                 party_id="{{ party.id }}" value="{{ tag }}"
                 onmouseover="this.src='{% static 'images/del_tag_hover.png' %}'"
                 onmouseout="this.src='{% static 'images/del_tag.png' %}'"
                 onmouseup="this.src='{% static 'images/del_tag.png' %}'"
                 onmousedown="this.src='{% static 'images/del_tag_active.png' %}'" />
            </div>
        {% endfor %}
        </div>
        <div id="party_newtag" class="data" type="text" item_id="{{ party.id }}" item_type="party_newtag"></div>
    </td>
</tr><tr>
    <th>Published</th>
    <td><input id="party_pub" class="data" type="checkbox" item_id="{{ party.id }}" item_type="party_published" {% if party.published %}checked="checked"{% endif %} /></td>
</tr><tr>
    <th>Notes</th>
    <td><textarea id="party_notes" class="data" cols="60" rows="3" item_id="{{ party.id }}" item_type="party_notes">{{ party.notes }}</textarea></td>
</tr></table>

<h3>Templates</h3>
<table>
<tr><th>Template</th><th>Amount</th></tr>
{% for ts in party.template_specs %}
    <tr>
        <td><a href="{% url 'enemy_template' ts.template.id %}">{{ ts.template.name }}</a></td>
        <td><input id="party_ts_{{ts.id}}" class="data" type="text" size="6" item_type="party_template_amount" parent_id="{{ party.id }}" item_id="{{ ts.template.id }}" value="{{ ts.amount }}"></td>
        <td><img src="{% static 'minus.png' %}" width="23" height="23" class="del_item" item_id="{{ ts.id }}" item_type="party_template_spec" /></td>
    </tr>
{% endfor %}
</table>

<select multiple="multiple" id="template_ids" name="template_id" size="5">
    {% for template in templates %}
        <option value="{{ template.id }}">{{ template.name }}{% if not template.published %} *{% endif %}</option>
    {% endfor %}
</select>
<button id="add_template_to_party" party_id="{{ party.id }}">Add template(s)</button>

<div> <!-- Additional Features -->
    {% if party.additional_features %}
        <h3>Additional features</h3>
        <table>
<tr><th>Feature</th><th>Probability</th><th></th><th></th></tr>
{% for f in party.additional_features %}
    <tr>
        <td>{{ f.name }}</td>
        <td><input id="party_feature_{{f.id}}" class="data" type="text" size="30" item_id="{{f.id}}" item_type="party_feature_prob" value="{{ f.probability }}" />%</td>
        <td><img src="{% static 'minus.png' %}" width="23" height="23" class="del_item" item_id="{{ f.id }}" item_type="party_additional_feature" /></td>
        <td><a href="{% url 'feature_items' f.feature_list.id %}">View items</a></td>
    </tr>
{% endfor %}
        </table>
    {% endif %}
    <select id="additional_feature_options">
            <option value="0">Select feature</option>
        {% for feature_list in additional_feature_lists %}
            <option value="{{ feature_list.id }}">{{ feature_list.name }}</option>
        {% endfor %}
    </select>
    <button class="add_additional_feature" object_type="party" parent_id="{{ party.id }}">Add additional feature</button>
</div>

<div> <!-- Non-random features -->
    <h3>Non-random features</h3>
    {% if party.nonrandom_features %}
        <table>
            <tr><th>List</th><th>Feature</th><th></th></tr>
        {% for feature in party.nonrandom_features %}
            <tr>
                <td>{{ feature.feature.feature_list.name }}</td>
                <td>{{ feature.feature.name }}</td>
                <td><img src="{% static 'minus.png' %}" width="23" height="23" class="del_item" item_id="{{ feature.id }}" item_type="party_nonrandom_feature" /></td>
            </tr>
        {% endfor %}
        </table>
    {% endif %}
    <select id="nonrandom_feature_list_options" size="4" style="width: 220px">
        {% for feature_list in additional_feature_lists %}
            <option value="{{ feature_list.id }}">{{ feature_list.name }}</option>
        {% endfor %}
    </select>
    <select id="nonrandom_feature_options" size="4" style="width: 550px">
        <option>&lt;Select feature list first&gt;</option>
    </select>
    <button id="add_nonrandom_feature" party_id="{{ party.id }}">Add</button>
</div>



{% endblock %}
