{% extends "base.html" %}

{% block content %}
<h3>Race</h3>
<table><tr>
    <th>Name</th>
    <td><input id="race" class="data" type="text" item_id="{{ race.id }}" item_type="race_name" value="{{ race.name }}" /></td>
</tr><tr>
    <th>Movement</th>
    <td><input id="race_movement" class="data" type="text" size="8" item_id="{{ race.id }}" item_type="race_movement" value="{{race.movement}}" /></td>
</tr><tr>
    <th>Published</th>
    <td><input id="race_pub" class="data" type="checkbox" item_id="{{ race.id }}" item_type="race_published" {% if race.published %}checked="checked"{% endif %} /></td>
</tr><tr>
    <th>Notes</th>
    <td><textarea id="race_notes" class="data" cols="60" rows="3" item_id="{{ race.id }}" item_type="race_notes">{{ race.special }}</textarea></td>
</tr><tr>
    <th></th>
    <td><button id="apply_notes_to_templates" item_id="{{ race.id }}">Copy notes to templates</button></td>
</tr></table>

<div id="apply_notes_to_templates_confirmation">Notes copied successfully.</div>

<div id="clone_race_container">
<form action="{% url 'clone_race' race.id %}" method="post">
{% csrf_token %}
<input id="clone_race" type="submit" value="Clone" />
</form>
</div>

<h3>Stats</h3>
<table>
<tr><th>Stat</th><th>Value</th></tr>
{% for stat in race.stats %}
    <tr>
        <td>{{ stat.name }}</td>
        <td>
            <input id="race_stat_{{stat.id}}" class="data" type="text" size="6" item_id="{{stat.id}}" item_type="race_stat_value" value="{{ stat.default_value }}" />
        </td>
    </tr>
{% endfor %}
</table>

<h3>Hit locations</h3>
<table>
<tr><th>Range start</th><th>Range end</th><th>Name</th><th>Armor</th><th>HP Modifier</th><th></th></tr>
{% for hl in race.hit_locations %}
    <tr>
        <td><input id="hl_rs_{{hl.id}}" class="data" type="number" size="2" min="1" max="20" item_id="{{hl.id}}" item_type="race_hl_range_start" value="{{ hl.range_start }}" /></td>
        <td><input id="hl_re_{{hl.id}}" class="data" type="number" size="2" min="1" max="20" item_id="{{hl.id}}" item_type="race_hl_range_end" value="{{ hl.range_end }}" /></td>
        <td><input id="hl_name_{{hl.id}}" class="data" type="text" size="10" item_id="{{hl.id}}" item_type="race_hl_name" value="{{ hl.name }}" /></td>
        <td><input id="hl_armor_{{hl.id}}" class="data" type="text" size="3" item_id="{{hl.id}}" item_type="race_hl_armor" value="{{ hl.armor }}" /></td>
        <td><input id="hl_hp_mod_{{hl.id}}" class="data" type="text" size="10" item_id="{{hl.id}}" item_type="race_hl_hp_modifier" value="{{ hl.hp_modifier }}" /></td>
        <td><img src="{% static 'minus.png' %}" width="23" height="23" class="del_item" item_id="{{ hl.id }}" item_type="hit_location" /></td>
    </tr>
{% endfor %}
</table>
<button id="add_hit_location" race_id="{{ race.id }}">Add Hit Location</button>

<h3>Templates</h3>
{% if race.templates %}
<table>
<tr><th>Name</th><th>Creator</th></tr>
{% for et in race.templates %}
<tr><td><a href="{% url 'enemy_template' et.id %}">{{et.name}}</a></td><td>{{et.owner}}</td></tr>
{% endfor %}
</table>
{% else %}
<p>None</p>
{% endif %}

{% endblock %}
