{% extends "base.html" %}

{% block content %}
{% if user.username %}
<div id="clone_race_container">
<form action="{% url 'clone_race' race.id %}" method="post">
{% csrf_token %}
<input id="clone_race" type="submit" value="Clone" />
</form>
</div>
{% endif %}

<h3>Race</h3>
<table>
    <tr><th>Name</th><td>{{ race.name }}</td></tr>
    <tr><th>Movement</th><td>{{race.movement}}</td></tr>
    {% if race.discorporate %}<tr><th>Discorporate</th><td>Yes</td></tr>{% endif %}
    <tr><th>Notes</th><td>{{ race.special }}</td></tr>
</table>

<h3>Stats</h3>
<table>
<tr><th>Stat</th><th>Value</th></tr>
{% for stat in race.stats %}
    <tr>
        <td>{{ stat.name }}</td>
        <td>{{ stat.default_value }}</td>
    </tr>
{% endfor %}
</table>

<h3>Hit locations</h3>
<table>
<tr><th>Range start</th><th>Range end</th><th>Name</th><th>Armor</th><th>HP Modifier</th><th></th></tr>
{% for hl in race.hit_locations %}
    <tr>
        <td>{{ hl.range_start }}</td>
        <td>{{ hl.range_end }}</td>
        <td>{{ hl.name }}</td>
        <td>{{ hl.armor }}</td>
        <td>{{ hl.hp_modifier }}</td>
    </tr>
{% endfor %}
</table>

<h3>Templates</h3>
{% if race.templates %}
<table>
<tr><th>Name</th><th>Creator</th></tr>
{% for et in race.templates %}
<tr><td><a href="{% url 'enemy_template' et.id %}">{{et.name}}</a></td><td>{{et.owner}}</td></tr>
{% endfor %}
</table>
{% else %}
<p>None</p>
{% endif %}

{% endblock %}
