{% extends "base.html" %}
{% load url from future %}

{% block content %}
<input id="ruleset_{{ ruleset.id }}" class="data" type="text" item_id="{{ruleset.id}}" item_type="ruleset_name" value="{{ ruleset.name }}" /><br>
Skills:
<table>
{% for skill in ruleset.get_skills %}
    <tr>
        <th>{{ skill.name }}</th>
        <td>{{ skill.die_set }}</td>
    </tr>
{% endfor %}
</table>
<br>

Stats:<br>
<table>
{% for stat in ruleset.get_stats %}
    <tr>
        <td><input id="stat_{{stat.id}}" class="data" type="text" item_id="{{stat.id}}" item_type="stat_name" value="{{ stat.name }}" /></td>
    </tr>
{% endfor %}
</table>
<br>
Stats:<br>
<table>
{% for spell in ruleset.get_spells %}
    <tr>
        <td><input id="spell_{{spell.id}}" class="data" type="text" item_id="{{spell.id}}" item_type="spell_name" value="{{ spell.name }}" /></td>
    </tr>
{% endfor %}
</table>

{% endblock %}
