{% extends "mw/base.html" %}
{% load url from future %}

{% block content %}

<h2>Index</h2>
<p>
<ul>
<li><a href="#about">About</a>
<li><a href="#credits">Credits</a>
<li><a href="#acknowledgments">Acknowledgments</a>
<li><a href="#development">Development</a>
</ul>
</p>

<a id="about"><h2>About</h2></a>
<p>Magic World Generator is a tool for generating random NPC's and monsters for Chaosium's Magic World.</p>
<p>One of the fundamental principles of the tool is, that the creation of the content - the NPC/monster 
specifications and templates - is created by the community. Anybody can create a new template, that
other users can later use to generate NPC's/monsters.</p>

<a id="credits"><h2>Credits</h2></a>
The namelists have been taken from the following places:
<ul>
<li>African names: <a href="http://namesforafrica.wordpress.com">http://namesforafrica.wordpress.com</a></li>
<li>Arabic names: <a href="http://www.s-gabriel.org/names/juliana/alandalus/">http://www.s-gabriel.org/names/juliana/alandalus/</a></li>
<li>Byzantine names: <a href="http://heraldry.sca.org/names/byzantine/early_byz_names.html">http://heraldry.sca.org/names/byzantine/early_byz_names.html</a></li>
<li>Celt and Saxon names: <a href="http://www.thedesignmechanism.com/products.php#!/Mythic-Britain/p/43756111/category=5186110">Mythic Britain</a></li>
<li>Generic fantasy names: <a href="http://www.angelfire.com/tx/afira/fantasymfull.html">
http://www.angelfire.com/tx/afira/fantasymfull.html</a></li>
<li>Orlanthi names: 
<a href="http://webspace.webring.com/people/lo/oliverb/kodp/names.html">http://webspace.webring.com/people/lo/oliverb/kodp/names.html</a>,
<a href="http://groups.yahoo.com/neo/groups/HeroQuest-RPG/conversations/topics/10500">http://groups.yahoo.com/neo/groups/HeroQuest-RPG/conversations/topics/10500</a></li>
<li>Monster Island names: <a href="http://www.thedesignmechanism.com/products.php#!/~/product/category=5186110&id=25252033">Monster Island</a> (pages 48 and 56).</li>
</ul>

<a id="development"><h2>Development</h2></a>
<p>RQ Encounter Generator has been developed on Python + Django. Additional modules used include:
<ul>
<li>jQuery</li>
<li>dajaxice</li>
<li>django-taggit</li>
<li>Python Markdown</li>
</ul>
</p>

<p>The source repository is in 
<a href="https://github.com/skoll69/RQ6-Enemy-Generator">GitHub</a>.</p>
</p>
<p>If you have an idea for a new feature or encounter a bug, send me an email at
<a href="mailto:erkki.lepre@iki.fi">erkki.lepre@iki.fi</a></p>

{% endblock %}
