<h3>Attacks</h3>
{% for cs in combat_styles %}

<table><tr>
    <td valign="top">
    <h4>1-handed weapons</h4>
    Amount:
    <input id="et_one_h_amount_{{ cs.id }}" class="data" size="3" type="text" item_id="{{ cs.id }}" item_type="et_one_h_amount" value="{{ cs.one_h_amount }}" /><br>
    <table id="1h_melee" class="weapon_table">
        <thead><tr><th>Weapon</b></th><th>Skill</th><th>Prob.</th></tr></thead>
        {% for weapon in cs.1h_melee %}
        <tr>
            <td>{{ weapon.name }}</td>
            <td><input id="weapon_die_set_{{weapon.id}}" class="data" type="text" size="6" parent_id="{{ cs.id }}" item_id="{{weapon.id}}" item_type="et_weapon_die_set" value="{{ weapon.die_set }}" /></td>
            <td><input id="weapon_prob_{{weapon.id}}" class="data number" type="number" min="0" max="9999" parent_id="{{ cs.id }}" item_id="{{weapon.id}}" item_type="et_weapon_prob" value="{{ weapon.probability }}" /></td>
        </tr>
        {% endfor %}
    </table>
    </td>

    <td valign="top">
    <h4>2-handed weapons</h4>
    Amount:
    <input id="et_two_h_amount_{{ cs.id }}" class="data" size="3" type="text" item_id="{{ cs.id }}" item_type="et_two_h_amount" value="{{ cs.two_h_amount }}" /><br>
    <table id="2h_melee" class="weapon_table">
        <thead><tr><th>Weapon</b></th><th>Skill</th><th>Prob.</th></tr></thead>
        {% for weapon in cs.2h_melee %}
        <tr>
            <td>{{ weapon.name }}</td>
            <td><input id="weapon_skill_{{weapon.id}}" class="data" type="text" parent_id="{{ cs.id }}" item_id="{{weapon.id}}" item_type="et_weapon_die_set" value="{{ weapon.die_set }}" /></td>
            <td><input id="weapon_prob_{{weapon.id}}" class="data number" type="number" min="0" max="9999" parent_id="{{ cs.id }}" item_id="{{weapon.id}}" item_type="et_weapon_prob" value="{{ weapon.probability }}" /></td>
        </tr>
        {% endfor %}
    </table>
    </td>

    <td valign="top">
    <h4>Ranged weapons</h4>
    Amount:
    <input id="et_ranged_amount_{{ cs.id }}" class="data" size="3" type="text" item_id="{{ cs.id }}" item_type="et_ranged_amount" value="{{ cs.ranged_amount }}" /><br>
    <table id="ranged" class="weapon_table">
        <thead><tr><th>Weapon</b></th><th>Prob.</th></tr></thead>
        {% for weapon in cs.ranged %}
        <tr>
            <td>{{ weapon.name }}</td>
            <td><input id="weapon_prob_{{weapon.id}}" class="data number" type="number" min="0" max="9999" parent_id="{{ cs.id }}" item_id="{{weapon.id}}" item_type="et_weapon_prob" value="{{ weapon.probability }}" /></td>
        </tr>
        {% endfor %}
    </table>
    </td>

    <td valign="top">
    <h4>Shields</h4>
    Amount:
    <input id="et_shield_amount_{{ cs.id }}" class="data" size="3" type="text" item_id="{{ cs.id }}" item_type="et_shield_amount" value="{{ cs.shield_amount }}" /><br>
    <table id="shield" class="weapon_table">
        <thead><tr><th>Weapon</b></th><th>Prob.</th></tr></thead>
        {% for weapon in cs.shield %}
        <tr>
            <td>{{ weapon.name }}</td>
            <td><input id="weapon_{{weapon.id}}" class="data number" type="number" min="0" max="9999" parent_id="{{ cs.id }}" item_id="{{weapon.id}}" item_type="et_weapon_prob" value="{{ weapon.probability }}" /></td>
        </tr>
        {% endfor %}
    </table>
    </td>
    
    </tr><tr><td colspan="4">
    {% if cs.customs %}
    <h4>Custom weapons</h4>
    <table>
    <tr valign="bottom">
        <th>Name</th>
        <th>Skill</th>
        <th>Type</th>
        <th>Damage</th>
        <th>Length</th>
        <th>Range</th>
        <th>Dmg<br>bonus</th>
        <th>HP</th>
        <th>Prob.</th><th></th>
    </tr>
    {% for weapon in cs.customs %}
    <tr>
        <td><input id="custom_weapon_name_{{weapon.id}}" class="data" type="text" size="16" item_id="{{weapon.id}}" item_type="et_custom_weapon_name" value="{{ weapon.name }}" /></td>
        <td><input id="custom_weapon_skill_{{weapon.id}}" class="data" type="text" size="6" item_id="{{weapon.id}}" item_type="et_custom_weapon_die_set" value="{{ weapon.die_set }}" /></td>
        <td>
            <select id="custom_weapon_type_{{weapon.id}}" class="data" item_id="{{ weapon.id }}" item_type="et_custom_weapon_type">
                <option value="1h-melee" {% if weapon.type == '1h-melee' %}selected="selected"{% endif %}>1-handed</option>
                <option value="2h-melee" {% if weapon.type == '2h-melee' %}selected="selected"{% endif %}>2-handed</option>
                <option value="ranged" {% if weapon.type == 'ranged' %}selected="selected"{% endif %}>Ranged</option>
                <option value="shield" {% if weapon.type == 'shield' %}selected="selected"{% endif %}>Shield</option>
            </select>
        </td>
        <td><input id="custom_weapon_damage_{{weapon.id}}" class="data" type="text" size="4" item_id="{{weapon.id}}" item_type="et_custom_weapon_damage" value="{{weapon.damage}}"></td>
        <td>
            <select id="custom_weapon_reach_{{weapon.id}}" class="data" item_id="{{ weapon.id }}" item_type="et_custom_weapon_length">
                <option value="-" {% if weapon.length == '-' %}selected="selected"{% endif %}>-</option>
                <option value="S" {% if weapon.length == 'S' %}selected="selected"{% endif %}>S</option>
                <option value="M" {% if weapon.length == 'M' %}selected="selected"{% endif %}>M</option>
                <option value="L" {% if weapon.length == 'L' %}selected="selected"{% endif %}>L</option>
            </select>
        </td>
        <td><input id="custom_weapon_range_{{weapon.id}}" class="data" type="text" size="6" item_id="{{weapon.id}}" item_type="et_custom_weapon_range" value="{{weapon.range}}"></td>
        <td>
            <select id="custom_weapon_dambon_{{weapon.id}}" class="data" item_id="{{ weapon.id }}" item_type="et_custom_weapon_damage_bonus">
                <option value="none" {% if weapon.damage_bonus == 'none' %}selected="selected"{% endif %}>None</option>
                <option value="half" {% if weapon.damage_bonus == 'half' %}selected="selected"{% endif %}>Half</option>
                <option value="full" {% if weapon.damage_bonus == 'full' %}selected="selected"{% endif %}>Full</option>
            </select>
        </td>
        <td><input id="custom_weapon_hp_{{weapon.id}}" class="data number" type="number" min="0" max="100" item_id="{{weapon.id}}" item_type="et_custom_weapon_hp" value="{{weapon.hp}}"></td>
        <td><input id="custom_weapon_prob_{{weapon.id}}" class="data number" type="number" min="0" max="9999" item_id="{{weapon.id}}" item_type="et_custom_weapon_prob" value="{{ weapon.probability }}" /></td>
        <td><img src="/rq_static/minus.png" width="23" height="23" class="del_item" item_id="{{ weapon.id }}" item_type="custom_weapon"/></td>
    </tr>
    {% endfor %}
    </table>
    {% endif %}
    <button class="add_custom_weapon" cs_id="{{ cs.id }}" type="1h-melee">Add custom weapon</button>
    </td>
    
</tr></table>
{% endfor %}
