{% extends "mw/base.html" %}
{% load url from future %}

{% block title %}RQ: {{ et.name }}{% endblock %}

{% block content %}

<script>
$(document).ready(function(){
    document.getElementsByTagName('html')[0].addEventListener('keypress', function(event) {
        if (event.keyCode == 13) { event.preventDefault(); }
    })
    var cly = completely(document.getElementById('et_newtag'), {
        fontSize: '12px',
    	 fontFamily : 'Arial',
        color: 'black',
    });
    cly.input.style.border= '1px solid #ABADB3';
    cly.input.style.width= '200px';
    cly.wrapper.style.width= '200px';
    cly.input.style.padding='1px';
    cly.options = [{% for t in all_et_tags %}'{{t}}',{% endfor %}];
    cly.onEnter = function(){
        var new_value = cly.getText();
        var item_id = {{ et.id }};
        var item_type = 'et_newtag';
        var input_object = null;
        submit(item_id, item_type, input_object, new_value);
        var tags = new_value.split(',');
        for (i in tags){
            var tag = tags[i].trim();
            $('#tag_container').append('<div class="tag">'+tag+'         \
            <img class="del_tag" src="/rq_static/images/del_tag.png" \
                    et_id="{{ et.id }}" value="'+tag+'"                           \
                    onmouseover="this.src=\'/rq_static/images/del_tag_hover.png\'"      \
                    onmouseout="this.src=\'/rq_static/images/del_tag.png\'"             \
                    onmouseup="this.src=\'/rq_static/images/del_tag.png\'"              \
                    onmousedown="this.src=\'/rq_static/images/del_tag_active.png\'" />  \
                  </div>');
            $('.del_tag').click(function(event){
                deltag(event);
            })
        }
        cly.setText('');
    };
    cly.onChange = function(){
        text = capitalize(cly.getText())
        cly.setText(text)
        if (text != ''){
            cly.repaint();
        } else {
            cly.hideDropDown();
        }
    }
    
    // namelist
    $('#et_namelist').change(function(event){
        $('#namelist_link').remove();
        var namelist_id = parseInt($(event.target).val())
        if (namelist_id > 0){
            $('#namelist_cell').append('<a id="namelist_link" href="http://ouropa.planeetta.com/rq_tools/enemygen/feature_items/'+ namelist_id +'/" target=_blank>View names</a>')
        }
    })
  $('#txtHint').focus(function(){  // For some reason IE takes focus to the hint input instead of the text input
    $('#txtInput').focus();
  });
  
  $('#toggle_pro_skills').click(function(event){
    $('#professional_skills_table').toggle();
  });
});
</script>

<div> <!-- Buttons -->
    <form action="{% url 'delete_template' et.id %}" method="post">
    {% csrf_token %}
    <div id="delete_template"><input type="submit" value="Delete template" /></div>
    </form>

    <div id="clone_template_container">
    <form action="{% url 'clone_template' et.id %}" method="post">
    {% csrf_token %}
    <input id="clone_template" type="submit" value="Clone" />
    </form>
    </div>

    <div id="generate_enemy_container">
    <form action="{% url 'generate_enemies' %}" method="post" target="generated">
    {% csrf_token %}
    <input name="enemy_template_id_{{et.id}}" type="hidden" value="6">
    <input style="width: 140px;" type="submit" value="Generate" />
    </form>
    </div>
</div>

<h3 style="display: inline;">
    Enemy details
    {% if et.starred %}
        <img et_id={{ et.id }} class="star" height="22" width="22" src="/rq_static/images/star_filled.png" />
    {% else %}
        <img et_id={{ et.id }} class="star" height="22" width="22" src="/rq_static/images/star_empty.png" />
    {% endif %}
</h3>
<span class="generated_amount">(Generated {{ et.generated }} times)</span>

<table><tr>
    <th>Template name</th>
    <td><input id="et_{{ et.id }}" class="data" type="text" size="40" item_id="{{ et.id }}" item_type="et_name" value="{{ et.name }}" /></td>
</tr><tr>
    <th>Random name list</th>
    <td id="namelist_cell">
        <select id="et_namelist" class="data" item_id="{{ et.id }}" item_type="et_namelist">
            <option value="0" {% if et.namelist == 0 %}selected="selected"{% endif %}>None</option>
            {% for namelist in namelists %}
                <option value="{{namelist.id}}" {% if et.namelist.id == namelist.id %}selected="selected"{% endif %}>{{namelist.name}}</option>
            {% endfor %}
        </select>
        {% if et.namelist %}<a id="namelist_link" href="{% url 'feature_items' et.namelist.id %}" target=_blank>View names</a>{% endif %}
    </td>
</tr><tr>
    <th>Tags</th>
    <td><div id="tag_container">
        {% for tag in et.get_tags %}
            <div class="tag">{{ tag }}
            <img class="del_tag" src="/rq_static/images/del_tag.png"
                 et_id="{{ et.id }}" value="{{ tag }}"
                 onmouseover="this.src='/rq_static/images/del_tag_hover.png'"
                 onmouseout="this.src='/rq_static/images/del_tag.png'"
                 onmouseup="this.src='/rq_static/images/del_tag.png'"
                 onmousedown="this.src='/rq_static/images/del_tag_active.png'" />
            </div>
        {% endfor %}
        </div>
        <div id="et_newtag" class="data" type="text" item_id="{{ et.id }}" item_type="et_newtag" style="height: 18px;"></div>
    </td>
</tr><tr>
    <th>Rank</th>
    <td>
        <select id="et_rank_{{ et.id }}" class="data" item_id="{{ et.id }}" item_type="et_rank">
            <option value="1" {% if et.rank == 1 %}selected="selected"{% endif %}>Minor</option>
            <option value="2" {% if et.rank == 2 %}selected="selected"{% endif %}>Average</option>
            <option value="3" {% if et.rank == 3 %}selected="selected"{% endif %}>Experienced</option>
            <option value="4" {% if et.rank == 4 %}selected="selected"{% endif %}>Heroic</option>
            <option value="5" {% if et.rank == 5 %}selected="selected"{% endif %}>Epic</option>
        </select>
    </td>
</tr><tr>
    <th>Published</th>
    <td><input id="et_pub_{{ et.id }}" class="data" type="checkbox" item_id="{{ et.id }}" item_type="et_published" {% if et.published %}checked="checked"{% endif %} /></td>
</tr><tr>
    <th>Notes</th>
    <td><textarea id="et_notes_{{ et.id }}" class="data" cols="60" rows="3" item_id="{{ et.id }}" item_type="et_notes">{{ et.notes }}</textarea></td>
</tr></table>

<table id="stats_and_hp"><tr><td valign="top">
<table>
<tr><th colspan="2">Stats</th></tr>
{% for stat in et.stats %}
    <tr>
        <td>{{ stat.name }}</td>
        <td>
            <input id="stat_{{stat.id}}" class="data" type="text" size="8" item_id="{{stat.id}}" item_type="et_stat_value" value="{{ stat.die_set }}" />
        </td>
    </tr>
{% endfor %}
</table>
</td><td valign="top">
<table>
<tr><th colspan="2">Attributes</th></tr>
<tr>
    <td>Movement</td>
    <td><input id="movement_{{et.id}}" class="data" type="text" size="8" item_id="{{et.id}}" item_type="et_movement" value="{{ et.movement }}" /></td>
</tr>
<tr>
    <td>Armor</td>
    <td><input id="armor_{{et.id}}" class="data" type="text" size="8" item_id="{{et.id}}" item_type="et_armor" value="{{ et.armor}}" /></td>
</tr>
</table>
</td></tr></table>

<h3>Apply skill bonus</h3>
<p>Applies to a bonus to all skills</p>
<form action="{% url 'apply_skill_bonus' et.id %}" method="post">
{% csrf_token %}
<input name="bonus" type="text"/>
<input type="submit" value="Apply" />
</form>

<h3>Skills</h3>
<table><tr>
{% for skill in et.raw_skills %}
        <td>{{ skill.name }}</td>
        <td valign="top">
            <input id="skill_include_{{skill.skill.id}}" class="data" type="checkbox" item_id="{{skill.id}}" item_type="et_skill_include" {% if skill.include %}checked="checked"{% endif %} />
            <input id="skill_{{skill.skill.id}}" class="data" type="text" size="10" item_id="{{skill.id}}" item_type="et_skill_value" value="{{ skill.die_set }}" />
        </td>
        {% if forloop.counter|divisibleby:"3" %}</tr><tr>{% endif %}
{% endfor %}
</tr></table>

{% if et.custom_skills %}
<h3>Custom skills</h3>
<table>
{% for skill in et.custom_skills %}
<tr>
    <td><input id="custom_skill_name_{{skill.skill.id}}" class="data" type="text" item_id="{{skill.id}}" item_type="et_custom_skill_name" value="{{skill.name}}" /></td>
    <td valign="top">
        <input id="custom_skill_include_{{skill.id}}" class="data" type="checkbox" item_id="{{skill.id}}" item_type="et_custom_skill_include" {% if skill.include %}checked="checked"{% endif %} />
        <input id="custom_skill_{{skill.skill.id}}" class="data" type="text" size="17" item_id="{{skill.id}}" item_type="et_custom_skill_value" value="{{ skill.die_set }}" />
    </td>
</tr>
{% endfor %}
</tr></table>
{% endif %}

<button class="add_custom_skill" et_id="{{ et.id }}">Add custom skill</button>

{% include 'mw/enemy_template_weapons.html' %}

<div id="spells_container">
<h3>Spells</h3>
Amount:
<input id="et_spells_{{ et.id }}" class="data" size="6" type="text" item_id="{{ et.id }}" item_type="et_spell_amount" value="{{ et.spell_amount }}" /><br>
<table><tr>
<tr><th>Spell</th><th>Prob.&nbsp;&nbsp;&nbsp;</th><th>Spell</th><th>Prob.&nbsp;&nbsp;&nbsp;</th><th>Spell</th><th>Prob.&nbsp;&nbsp;&nbsp;</th><th>Spell</th><th>Prob.&nbsp;&nbsp;&nbsp;</th></tr>
{% for spell in spells %}
    <td>{% if not spell.custom %}
            {{ spell.name }}
        {% else %}
            <input autocomplete="off" id="custom_spell_name_{{spell.id}}" class="data" type="text" size="18" item_id="{{spell.id}}" parent_id="{{et.id}}" item_type="et_custom_spell_name" value="{{ spell.name }}" />
        {% endif %}
        {% if spell.detail %}
            <input id="spell_detail_{{spell.id}}" class="data" type="text" size="10" item_id="{{spell.id}}" parent_id="{{et.id}}" item_type="et_spell_detail" value="{{ spell.detail_text }}" />
        {% endif %}
    </td>
    <td>{% if not spell.custom %}
            <input id="spell_{{spell.id}}" class="data number" type="number" min="0" max="9999" item_id="{{spell.id}}" parent_id="{{et.id}}" item_type="et_spell_prob" value="{{ spell.probability }}" />
        {% else %}
            <input id="custom_spell_{{spell.id}}" class="data number" type="number" min="0" max="9999" item_id="{{spell.id}}" parent_id="{{et.id}}" item_type="et_custom_spell_prob" value="{{ spell.probability }}" />
            <img src="/rq_static/minus.png" width="16" height="16" class="del_item" item_id="{{ spell.id }}" item_type="et_custom_spell" />
        {% endif %}
    </td>
    {% if not forloop.first and forloop.counter|divisibleby:"4" %}</tr><tr>{% endif %}
{% endfor %}
</tr></table>
<button class="add_custom_spell" et_id="{{ et.id }}">Add custom spell</button>
</div>

{% endblock %}
