{% extends "mw/base.html" %}
{% load url from future %}

{% block content %}

<style>
.img{
    border: 2px solid white;
    margin: 5px;
}

div#die_formulas{
    position: relative;
    width: 280px;
    font-size: 12px;
    float: right;
    background: #91622A;
    border: 2px solid white;
    padding: 2px;
    margin-left: 2px;
}
ol, li{
    margin-left: -10px;
}
</style>

<h3>What is it?</h3>
<p>Magic World Encounter Generator is a tool that allows gamemasters to quickly define, maintain and generate groups of NPC's and monsters.</p>

<h3>Creating new templates</h3>
<p>If you don't find the NPC/monster you need from the list of existing templates, you can create the template yourself (login required).
Use the <a href="{% url 'edit_index' %}">My Content</a> -page to manage and create your templates. You can also create your own parties (collections of enemies).</p>

<div id="die_formulas">
<h4>A word on die formulas</h4>
<p>The program makes extensive use of die formulas. The theory behind this is simple. The standard 3D6 roll yields an average value of 10-11. The minimum roll is 3, the maximum roll is 18.
The distribution of values is a bell curve: the average results will appear much more often than the extremes. If you want a higher result, you could enter 2D6+6.
This yields a minimal 8, average 13, maximum 18. A significant increase. A less brutal improvement could be 3D5 + 3. This yields 6-18, average 12.</p>
<p>The simple way to calculate this is as follows:</p>
<ol>
<li>The average result of any die is: (min+max)/2.</li>
<li>The average result of any combination of dice is the sum of the averages of the individual dice.
So the average of a D6 is 3.5, and the average of 2D6 is 7, the average of 3D6 is 10.5 (hence the 10-11).  The average of a D5 is 3.</li>
<li>Whenever you roll more than one dice, the outcome will be a bell curve:  extremes are rare, averages are common.  When rolling one dice, the result is linear.</li>
</ol>
<p>So if you want to add 10-20 percentiles to a skill, you can add 1D10+10. This gives a linear result of 11-20. Every result occurs equally often.</p>
<p>If you want a very strong human you can use 2D3+12. This yields an average of 16 and a result beween 14 and 18, with 16 occurring most often, and 14 and 18 most infrequently.</p>
<p>If you want a veteran to have a combat skill with value 60-80, use 60+1D20 for a linear result, or 60+2D10 for a result where 70 is more likely than 62 or 78.</p>
</div>

<h3>Template editor</h3>
<ul>
    <li><b>Template name:</b> Use a descriptive but short names.
    <li><b>Random name list:</b> Assing a name list for the generated enemy to get a random name. Select a list and click 'View names' to see the content of the list.
    If you'd like a new name list to be added, please <a href="mailto:erkki.lepre@iki.fi">contact me</a>.
    <li><b>Tags:</b> Add a tag (keyword) to help identifying and searching the templates. Do not replicate cult rank or race info in tags. Good tags help other users to find your templates.
    For example ghouls living in a swamp could have: Undead, Swamp, March, Bog
    <li><b>Rank:</b> Estimation of how tough the creature is.
    <li><b>Published:</b> The template will remain hidden from other users until you set it as Published.
    <li><b>Notes:</b> The notes will be prited out on the generated enemy.
    <li><b>Stats:</b> The stats will be used to calculate skill as per rules. Use for example 3D5+3 or 3D4+6 for tougher enemies, or 3D5 for weaker enemies.
    <li><b>Armor:</b> Armor.
</ul>

<h3>Weapon and spell probabilities</h3>
<p>Adding weapons and spells to a template both use the same system for selecting which item to add. There are two elements you can modify:
<u>Probability</u> of the specific items and the <u>Amount</u>. The Amount tells how many weapons/spells to add from the current category.
The Probability describes relative chances for the item to be picked. Items with probability 0 will never be included.</p>

<h4>How probability is calculated?</h4>
<p>When calculating the probability of a single item, the probabilities of all the items are first added together. The chance of a specific item
to be picked is relative to the total.</p>
<p>Example 1: Amount 1; Dagger prob 1; Knife prob 1 (all other weapons have probability 0). One weapon will be selected and it will be either knife
or dagger. The total probabilities are 2 (1+1) and the chances for either dagger or knife to be selected are 1/2 (50%).</p>
<p>Example 2: Amount 1; Shortsword prob 1; Battleaxe prob 2; Shortspear prob 3. Out of the three options, one will be picked. The total probability
is 6 (1+2+3). The chances for the different options are: Shortsword 1/6 = 17%; Battleaxe 2/6 = 33%; Shortspear 3/6 = 50%.</p>
<p>Example 3: Amount 2; Dagger prob 9999; Shortsword prob 1; Battleaxe prob 2; Shortspear prob 3; Out of the four options, two will be selected. The
total probability is 10005 (9999+1+2+3). Dagger will be picked practically always (9999 chances out of 10005 = 99,94%). The second weapon will be picked
as per example 2.</p>
<p>Example 4: Amount 1d3+1; Alarm 1, Repair 1, Protection 1, Darkness 1, Ignite 1, Bludgeon 1, Might 1, Shock 1. The generated enemy will have 2-4
spells (1d3+1). Each spell has an equal possibility to be included.</p>

<p><b>Note!</b> The amounts apply only within the specific categories. For weapons the categories are 1-h melee weapons, 2-h melee weapons, ranged
weapons and shields.</p>

<h3>Skills</h3>
<p>With skills you get the skill name, then a checkbox to indicate whether this skill must be included when generating NPC. Next
is the calculation field. Default setting is the skill calculation formula as
per the rulebook. In order to make your character more competent you can change these formulas. Athletics starts at STR+DEX. For a skilled
warrior, you might want to increase this to STR+DEX+20. You can also use dice variables, so STR+DEX+D20+10 would work too. The final field,
<b>Combat Styles</b>, works similarly. Only difference here: it cannot be deselected, and you need to name your combat skill, as described
in the rulebook. This can be any name, it's only for flavour.</p>
{% endblock %}
