{% load url from future %}

<div id="menu">
<span class="item"><a href="{% url 'mw_home' %}">Home</a></span> |
<span class="item"><a href="{% url 'mw_index' %}">Enemies</a></span> |
<span class="item"><a href="{% url 'mw_party_index' %}">Parties</a></span> |
<span class="item"><a href="{% url 'mw_edit_index' %}">My content</a></span> |
<span class="item"><a href="{% url 'mw_instructions' %}">Help</a></span> |
<span class="item"><a href="{% url 'mw_statistics' %}">Statistics</a></span> |
<span class="item"><a href="{% url 'mw_whats_new' %}">What's new{% if recent_changes %}<font color="red"> !</font>{% endif %}</a></span> |
<span class="item"><a href="{% url 'mw_about' %}">About</a></span>

<span style="position: absolute; right: 15px;">
{% if user.username %}
    <span class="item"><a href="{% url 'auth_password_change' %}">Change password</a></span> |
    <span class="item"><a href="{% url 'auth_logout' %}">Log out</a></span>
{% else %}
    <span class="item"><a href="/rq_tools/accounts/register/">Register</a></span> |
    <span class="item"><a href="{% url 'auth_login' %}">Log in</a></span>
{% endif %}
</span>

</div>