{% extends "mw/base.html" %}
{% load markdown %}
{% load url from future %}

{% block title %}RQ: {{party.name}}{% endblock %}

{% block content %}

<div id="clone_party_container">
<form action="{% url 'mw_clone_party' party.id %}" method="post">
{% csrf_token %}
<input id="clone_party" type="submit" value="Clone" />
</form>
</div>

<div id="generate_party_container">
<form action="{% url 'mw_generate_party' %}" method="post" target="_blank">
{% csrf_token %}
<input name="party_id" type="hidden" value="{{ party.id }}">
<input name="dont_increment" type="hidden" value="1">
<input style="width: 140px;" type="submit" value="Generate" />
</form>
</div>

<h2>Party</h2>
<table><tr>
    <th>Name</th>
    <td>{{ party.name }}</td>
</tr><tr>
    <th>Tags</th>
    <td><div id="tag_container">
        {% for tag in party.get_tags %}<div class="tag">{{ tag }}</div>{% endfor %}
        </div>
    </td>
</tr><tr>
    <th>Owner</th>
    <td>{{ party.owner.username }}</td>
</tr><tr>
    <th>Notes</th>
    <td>{{ party.notes|markdown }}</td>
</tr></table>

<h3>Templates</h3>
<table>
<tr><th>Template</th><th>Amount</th></tr>
{% for ts in party.template_specs %}
    <tr>
        <td><a href="{% url 'mw_enemy_template' ts.template.id %}">{{ ts.template.name }}</a></td>
        <td>{{ ts.amount }}</td>
    </tr>
{% endfor %}
</table>


{% endblock %}
