{% extends "mw/base.html" %}
{% load url from future %}

{% block content %}

<a name="users"></a><h2>Users with most templates</h2>
<table>
<tr><th>User</th><th>Templates</th></tr>
{% for user in statistics.users %}
<tr><td>{{user.name}}</td><td>{{user.template_amount}}</td></tr>
{% endfor %}
<p><b>Total number of published templates: {{ statistics.total_published_templates }}</b></p>
</table>

<a name="templates"></a><h2>Templates</h2>
<table>
<tr><th>Template</th><th>Times Generated</th></tr>
{% for template in statistics.templates %}
<tr><td><a href="{% url 'mw_enemy_template' template.id %}">{{template.name}}</a></td><td>{{template.generated}}</td></tr>
{% endfor %}
</table>

{% endblock %}
