body{
    font-family: Arial;
    background: #CECECE;
    height: 100%;
    color: white;
    margin: 0px;
}

html{
    height: 100%;
}

a {
    color: white;
}

h2{
    margin-top: 4px;
    margin-bottom: 7px;
    font-family: Lucida Sans Unicode;
    color: #F99C2A;
}

h3{
    margin-top: 8px;
    margin-bottom: 4px;
    font-family: Lucida Sans Unicode;
    color: #F99C2A;
}

h4{
    font-family: Lucida Sans Unicode;
    margin-top: 2px;
    margin-bottom: 2px;
}

#main_container{
    position: relative;
    background: #FFFFFF;
    min-width: 890px;
    width: 890px;
    margin-left: auto;
    margin-right: auto;
}

#header{
    min-width: 854px;
    width: 854px;
    font-size: 50px;
    background: black;
    margin: 10px;
    padding: 0px 8px 0px 8px;
    display: inline-block;
    font-family: Lucida Sans Unicode;
    height: 103px;
    vertical-align: text-top;
    line-height: 103px;
}

#menu{
    margin: 0px 10px 0px 10px;
    padding: 5px;
    background: #543712;
}

#menu a{
    text-decoration: none;
}

#menu .item{
    padding: 3px;
}

#menu .item:hover{
    background: #A57230;
}

#ruleset_setting{
    margin: 10px 10px 0px 10px;
    padding: 5px;
    background: #543712;
    color: white;
}

#ruleset_setting a{
    text-decoration: none;
}

#ruleset_setting .item{
    padding: 3px;
}

#ruleset_setting .item:hover{
    background: #A57230;
}


#ruleset_settinga a{
    color: white;
    text-decoration: none;
}

#main_content{
    position: relative;
    margin: 10px 10px 0px 10px;
    background: #7F5924;
    height: 100%;
    min-width: 854px;
    width: 854px;
    display: inline-block;
    padding: 8px;
    color: white;
}

#footer{
    color: #AAA;
    font-size: 10px;
    text-align: center;
}

/* Basic stuff ends */

.rank_filter{
    font-size: 14px;
}

.rank_filter input{
    position: relative;
    top: 2px;
}

/* Index starts */
div#et_filter_container{
    position: absolute;
    right: 10px;
    top: 10px;
}

#enemy_template_list_container{
    height: 200px;
    overflow: auto;
}

table#enemy_template_list{
    border-spacing: 0px;
    border-collapse: collapse;
}

table#enemy_template_list td, table#enemy_template_list th {
    padding-right: 6px;
}

table#enemy_template_list th {
    cursor: pointer;
    height: 22px;
    white-space:nowrap;    
}

table#selected_enemy_template_list{
    border-spacing: 0px;
    border-collapse: collapse;
}

table#selected_enemy_template_list td, table#selected_enemy_template_list th {
    padding-right: 6px;
}

div#index_tag_container{
    max-width: 400px;
}

div.small_tag {
    display: inline-block;
    font-size: 10px;
    border: 1px solid #ABADB3;
    border-radius: 3px;
    margin-right: 1px;
    background-color: #DEE9F4;
    color: black;
    cursor: default;
}
/* Index ends */

/* Enemy Template details start */

span.generated_amount{
    font-size: 9px;
}

div#tag_container{
    width: 550px;
    padding-bottom: 4px;
    padding-left: 2px;
}

div.tag {
    font-size: 12px;
    display: inline-block;
    border: 1px solid #ABADB3;
    border-radius: 3px;
    margin-right: 1px;
    padding-left: 1px;
    padding-bottom: 1px;
    background-color: #DEE9F4;
    color: black;
    cursor: default;
}

img.del_tag {
    position: relative;
    top: 2px;
    padding-right: 0px;
}

div#et_newtag{
    width: 100%;
}

table.index_list th:hover {
    background: #A57230;
}
.edit_item{
    text-decoration: underline;
}

th{
    text-align: left;
}

table.weapon_table{
    width: 180px;
}

span.weapons{
    display: inline;
}

#email{
    color: #AAA;
    text-decoration: underline;
}

.number{
    width: 45px;
}

.rank_name{
    font-weight: bold;
    text-decoration: underline;
}

table#stats_and_hp td{
    padding-right: 20px;
}

input[type="submit"], button{
    background-color:#543712;
    border-radius:6px;
    border: 3px solid white;
    display:inline-block;
    color: white;
    font-family:arial;
    font-size:16px;
    padding:4px 12px;
    text-decoration:none;
    cursor: pointer;
}

input[type="submit"]:hover, button:hover {
    background-color:#9B6B28;
}

input[type="submit"]:active, button:active {
    position:relative;
    top:1px;
    left:1px;
}

.active_button{
    background-color: #6D4A22;
}

input[type="submit"].party_submit{
    padding: 1px 12px;
    font-size: 13px;
    border: 2px solid white;
}

div#delete_template{
    position: absolute;
    right: 10px;
    top: 10px;
}

div#clone_template_container{
    position: absolute;
    right: 12px;
    top: 50px;
}

input[type="submit"]#clone_template{
    width: 140px;
}

div#generate_enemy_container{
    position: absolute;
    right: 12px;
    top: 90px;
}

div#clone_race_container{
    position: absolute;
    right: 10px;
    top: 50px;
}

input[type="submit"]#clone_race{
    width: 140px;
}

table.read_only th{
    font-weight: normal;
}

table.read_only td{
    padding-right: 20px;
    font-style: italic;
}

.del_item{
    cursor: pointer;
    position: relative;
    top: 3px;
}

#apply_notes_to_templates_confirmation{
    width: 200px;
    height: 50px;
    border: 5px white solid;
    background: #9B6B28;
    position: absolute;
    top: 60px;
    margin-left: 40%;
    display: none;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
}

#party_list_container{
    height: 200px;
    overflow: auto;
}

/* Party details start */
img.del_party_tag {
    position: relative;
    top: 2px;
    padding-right: 0px;
}

div#delete_party_container{
    position: absolute;
    right: 10px;
    top: 10px;
}

input[type="submit"]#delete_party{
    width: 140px;
}

div#clone_party_container{
    position: absolute;
    right: 10px;
    top: 50px;
}

input[type="submit"]#clone_party{
    width: 140px;
}

div#generate_party_container{
    position: absolute;
    right: 10px;
    top: 90px;
}
/* Party details end */

/* Edit index starts */
div.create_new_container{
    display: inline-block;
}
div#manage_races_container{
    position: absolute;
    left: 300px;
    top: 11px;
}
/* Edit index starts */

/* Home page starts */
div#search_container{
    width: 100%;
    text-align: center;
}
div#results_number{
    font-size: 10px;
    color: #CCC;
    position: relative;
    left: 190px;
    width: 200px;
}
div#generate_button_container{
    position: absolute;
    right: 10px;
    top: 8px;
}
input.disabled{
    border-color: #ccc;
    color: #ccc;
    cursor: inherit;
    background-color: #514331;
}

input.disabled[type="submit"]:hover, input.disabled button:hover {
    background-color:#514331;
}

input.disabled[type="submit"]:active, input.disabled button:active {
    left: 0px;
    top: 0px;
}

div#searching{
    display: none;
    position: absolute;
    top: 120px;
    width: 100%;
    text-align: center;
}
/* Home page ends */

