body{
    font-family: Arial;
    background: #CECECE;
    height: 100%;
    color: black;
}

html{
    height: 100%;
}

h2{
    margin-top: 4px;
    margin-bottom: 7px;
    font-family: Lucida Sans Unicode;
}

h3{
    margin-top: 8px;
    margin-bottom: 4px;
    font-family: Lucida Sans Unicode;
    color: #F99C2A;
}

h4{
    font-family: Lucida Sans Unicode;
    margin-top: 2px;
    margin-bottom: 2px;
}

#main_container{
    background: white;
    width: 850px;
    margin-left: auto;
    margin-right: auto;
}

#header{
    width: 814px;
    font-size: 42px;
    background: #CECECE;
    margin: 10px;
    padding: 8px;
    display: inline-block;
    text-align: center;
    font-family: Lucida Sans Unicode;
    color: #F99C2A;
}

#menu{
    margin: 0px 10px 0px 10px;
    padding: 5px;
    background: #CECECE;
}

#menu .item{
    padding: 3px;
}

#ruleset_setting{
    margin: 10px 10px 0px 10px;
    padding: 5px;
    background: #543712;
    color: black;
}

#ruleset_setting a{
    text-decoration: none;
}

#ruleset_setting .item{
    padding: 3px;
}

#ruleset_settinga a{
    color: black;
    text-decoration: none;
}

#main_content{
    position: relative;
    margin: 10px 10px 0px 10px;
    background: #CECECE;
    height: 100%;
    width: 814px;
    display: inline-block;
    padding: 8px;
    color: black;
}

table#enemy_template_list{
    border-spacing: 0px;
    border-collapse: collapse;
}

table#enemy_template_list td, table#enemy_template_list th {
    padding-right: 20px;
}

table#enemy_template_list th {
    padding-right: 20px;
}


.edit_item{
    text-decoration: underline;
}

th{
    text-align: left;
}

#footer{
    color: #AAA;
    font-size: 10px;
    text-align: center;
}

span.weapons{
    display: inline;
}

#email{
    color: #AAA;
    text-decoration: underline;
}

.number{
    width: 35px;
}

.rank_name{
    font-weight: bold;
    text-decoration: underline;
}

table#stats_and_hp td{
    padding-right: 20px;
}

input[type="submit"], button{
    background-color:#543712;
    border-radius:6px;
    border: 3px solid white;
    display:inline-block;
    color: black;
    font-family:arial;
    font-size:16px;
    padding:4px 12px;
    text-decoration:none;
}

div#delete_template{
    position: absolute;
    right: 10px;
    top: 10px;
}

table.read_only th{
    font-weight: normal;
}

table.read_only td{
    padding-right: 20px;
    font-style: italic;
}